파이썬 에서 자주 사용되는 코딩 스타일 또는 라이브러리들..

In [3]:
# map : 집합에대해서 각 원에 함수를 적용
list_1 = [1,2,3,4,5,6,7,8,9,10]
# 리스트의 각 숫자를 문자로 변경
number = 1
print(type(number))
number = str(number)
print(type(number))

<class 'int'>
<class 'str'>

In [5]:
list_1 = list(map(str, list_1))
print(list_1)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [ ]:
map(str, list_1)  # 순환가능한 객체라서 리스트로 변경하지 않아도 for문으로 사용 가능하다
for i in map(str, list_1):
  print(i)

for i in list(map(str, list_1)):  # list(map(str, list_1)) 리스트로 사용하기 위해선
  print(i)

In [9]:
# 숫자형 문자열 --> 숫자   int()
list_1 = list( map(int,list_1) )
list_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
words = ['abc','hello','good moring']
# 각 문자열의 길이를 구해서 리스트로 저장
# for문을 이용한 풀이
result = []

# for i in range( len(words) ):
#   result.append( len(words[i]) )
for i in words:
  result.append( len(i) )

print(result)

[3, 5, 11]

In [13]:
# for문을 개선한 리스트 컴프리핸션  한줄코딩
words = ['abc','hello','good moring']
# result = [ len(words[i])  for i in range(len(words))   ]
result = [ len(i)  for i in words   ]
print(result)

[3, 5, 11]

In [14]:
# map함수를 이용
words = ['abc','hello','good moring']
result = list(map( len, words ))  # len('abc')  len('hello')  len('good moring')
print(result)

[3, 5, 11]

In [17]:
# 다음 주어진 문자열의 각원소를 소문자로 변경하세요
sample1 = "Apple"
sample1.lower()

'apple'

In [18]:
words = ['Abc','Hello','Good Moring']
def changeLower(data):
  return data.lower()

result = list(map( changeLower, words  ))
print(result)

['abc', 'hello', 'good moring']

In [19]:
numbers = [1, 2, 3, 4, 5]
# 각 요소에 제곱을 한 값을 리스트로 저장
def myF(data):
  return data**2

result = list(map(myF, numbers)  )
print(result)

[1, 4, 9, 16, 25]

람다
  - 익명의 함수
  - 함수이름이 없고 기능만 존재

In [21]:
# 람다
temp =  lambda data: data**2
print( temp(5) )

25

In [22]:
numbers = [1, 2, 3, 4, 5]
# 각 요소에 제곱을 한 값을 리스트로 저장
result = list(   map( lambda x : x**2, numbers  )      )
print(result)

[1, 4, 9, 16, 25]

In [23]:
import random
numbers = [ random.randint(1,100) for i in range(10) ]
# 짝 홀을 구분해서
# ['홀','짝']
numbers

[46, 96, 56, 43, 11, 32, 97, 19, 50, 3]

In [25]:
result = []
for i in numbers:
  if i%2 == 0:
    result.append("짝")
  else:
    result.append("홀")
print(result)

['짝', '짝', '짝', '홀', '홀', '짝', '홀', '홀', '짝', '홀']

In [27]:
# 리스트 컴프리핸션에서 조건문 사용하기
# 단일조건문 if
[ '짝' for i in numbers  if i%2 ==0]

['짝', '짝', '짝', '짝', '짝']

In [28]:
# 조건문 if~else
result = [  '짝' if i%2 == 0 else '홀'  for i in numbers   ]
print(result)

['짝', '짝', '짝', '홀', '홀', '짝', '홀', '홀', '짝', '홀']

In [30]:
# 3항 연산자.  if ~ else 를 한줄로 표현
# 전달받은 데이터가 짝수면 True 홀수면 False를 리턴하는 함수
def isEven(data):
  if data %2 == 0:
    return True
  else:
    return False

def  isEven(data):
  return True if data %2 == 0 else False

In [35]:
# 정렬
# 임의의 정수 데이터 10개를 생성 1~100사이의
import random
numbers = [  random.randint(1,100)  for i in range(10)  ]
print("정렬전",numbers)

numbers = sorted(numbers)

print("정렬후-오름차순",numbers)

# 아래문장을 사용하지 않고 내림차순으로 정렬해 보기
# hint 오름차순을 뒤집기
# numbers = sorted(numbers,reverse=True)
numbers = numbers[::-1]

print("정렬후-내림차순",numbers)

정렬전 [66, 16, 13, 3, 8, 76, 3, 82, 8, 3]
정렬후-오름차순 [3, 3, 3, 8, 8, 13, 16, 66, 76, 82]
정렬후-내림차순 [82, 76, 66, 16, 13, 8, 8, 3, 3, 3]

In [39]:
numbers_copy = numbers
print(numbers_copy)
print(numbers)
numbers_copy[0] = "가나다"
print(numbers_copy)
print(numbers)

[82, 76, 66, 16, 13, 8, 8, 3, 3, 3]
[82, 76, 66, 16, 13, 8, 8, 3, 3, 3]
['가나다', 76, 66, 16, 13, 8, 8, 3, 3, 3]
['가나다', 76, 66, 16, 13, 8, 8, 3, 3, 3]

In [40]:
numbers = [  random.randint(1,100)  for i in range(10)  ]
numbers_copy = numbers[::]  # 기존  리스트의 데이터를 출력해서 새로운 메모리주소로 변수에 저장한다. 즉. 서로다른 주소.
print(numbers_copy)
print(numbers)
numbers_copy[0] = "가나다"
print(numbers_copy)
print(numbers)

[9, 24, 91, 81, 58, 65, 87, 2, 66, 34]
[9, 24, 91, 81, 58, 65, 87, 2, 66, 34]
['가나다', 24, 91, 81, 58, 65, 87, 2, 66, 34]
[9, 24, 91, 81, 58, 65, 87, 2, 66, 34]

In [42]:
# map, split, input, in 를 이용해서 문자열의 각 문자열숫자를 정수로 변환해서 각각의 변수에 저장
# 국어 영어 수학 점수를 공백을 기준으로 입력을 받습니다.
# 그리고 kor eng math 변수에 정수형태로 각각 저장합니다. - 언패킹

kor,eng,math = map(int, input("공백을 기준으로 국 영 수 과목을 점수를 입력하세요").split())
print(kor,eng,math)

공백을 기준으로 국 영 수 과목을 점수를 입력하세요10 20 30
10 20 30

In [43]:
input("공백을 기준으로 국 영 수 과목을 점수를 입력하세요")

공백을 기준으로 국 영 수 과목을 점수를 입력하세요10 20 30

'10 20 30'

In [44]:
'10 20 30'.split()

['10', '20', '30']

In [47]:
kor,eng,math =  map(int,['10', '20', '30'])
print(kor,eng,math)

10 20 30

# 패킹 / 언패킹
  - 패킹
    - 여러 값을 하나로 묵기(튜플)

In [50]:
point = 3 , 4
print( point )
coordinates = [3, 4, 5]
print( coordinates )

(3, 4)
[3, 4, 5]

언패킹
  - 패킹된 데이터를 개수만큼 분리하기

In [52]:
x, y = point
print(x,y)
a,b,c = coordinates
print(a,b,c)

3 4
3 4 5

함수에서 패킹과 언패킹의 사용

패킹

In [62]:
def add(*args):  # 패킹
  return sum(args)
print(add(2,41,25,1,25,4))

98

언패킹

In [66]:
numbers = 2,41,25,1,25,4  #패킹
print(numbers)
print(*numbers)  # 패킹된 데이터를 *붙이면
print(2,41,25,1,25,4)

(2, 41, 25, 1, 25, 4)
2 41 25 1 25 4
2 41 25 1 25 4

In [61]:
def add(*args):  # 패킹
  return sum(args)
numbers = 2,41,25,1,25,4
print(add(*numbers))

98

키워드 가변 매개변수 패킹 / 언패킹

In [63]:
# 패킹
scores = {
    'kor' : 80,
    'eng' : 90,
    'math' : 95
}
scores

{'kor': 80, 'eng': 90, 'math': 95}

In [77]:
def calcScore(kor,eng,math):
  print(kor,eng,math)
  return kor+eng+math

In [78]:
calcScore(10,20,30)

calcScore(kor=80,eng=90,math=95)
calcScore(**scores) # 언패킹

10 20 30
80 90 95
80 90 95

265

In [79]:
def calcScore(**kargs):  # 키워드 가변인수
  print(kor,eng,math)
  return kor+eng+math

calcScore(kor = 10, eng=20,math=30)
calcScore(**scores)

10 20 30
10 20 30

60

In [87]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [82]:
# dicrionary 정렬
a = [1, 1, 1,1,]  # 리스트
b = (1,1,1,1,)  # 튜플
c = { 'a':1, 'b':2  } # 딕셔너리

In [85]:
# zip : 두개의 집합 데이터를 각각의 원소끼리 1:1 로 묶는것 - 주로 두개의 리스트로 dictionary만들때 사용
scores = [100,95,98,85,88]
name = ['홍길동','강감찬','이순신','철이','미애']
students = dict(zip( name, scores ))
students

{'홍길동': 100, '강감찬': 95, '이순신': 98, '철이': 85, '미애': 88}

In [88]:
# students 를 정렬하면??
sorted(students)

['강감찬', '미애', '이순신', '철이', '홍길동']

In [99]:
def orderDict( data ): # (key,value)
  return data[1]

In [101]:
sorted(students.items(), key= orderDict,reverse=True)

[('홍길동', 100), ('이순신', 98), ('강감찬', 95), ('미애', 88), ('철이', 85)]

In [102]:
# 위에 예제를 람다로 변경해서 적용
sorted(students.items(), key= lambda data: data[1] ,reverse=True)  # value를 기준으로 내림차순으로 정렬

[('홍길동', 100), ('이순신', 98), ('강감찬', 95), ('미애', 88), ('철이', 85)]

In [104]:
students = dict(sorted(students.items(), key= lambda data: data[1] ,reverse=True))
students

{'홍길동': 100, '이순신': 98, '강감찬': 95, '미애': 88, '철이': 85}

딕셔너리를 만들고
정렬
그 값을 다시 원본에 저장

In [111]:
myDict = dict( zip(['a','c','b' ],[30,20,10 ]) )

myDict = dict(sorted(myDict.items(), key = lambda x : x[0]))
print(myDict)
myDict = dict(sorted(myDict.items(), key = lambda x : x[0], reverse=True))
print(myDict)
myDict = dict(sorted(myDict.items(), key = lambda x : x[1]))
print(myDict)
myDict = dict(sorted(myDict.items(), key = lambda x : x[1], reverse=True))
print(myDict)

{'a': 30, 'b': 10, 'c': 20}
{'c': 20, 'b': 10, 'a': 30}
{'b': 10, 'c': 20, 'a': 30}
{'a': 30, 'c': 20, 'b': 10}