- 변수
- 다양한 자료형
  - 튜플, 리스트, 딕셔너리,셋 기타등등
  - xml, json
  - 리스트 : 슬라이싱

- 제어문
  - 조건문
  - 순환문

- 다양한 모듈 및 함수
  - map, reduce, filter
  - 리스트 컴프리핸션
  - 람다

- 예외처리

- 파일 입출력
  - csv파일

- 객체지향
  - 클래스
    - 생성자
    - 상속
- 모듈 및 패키지
  - 파이썬 파일
  - install, import

- 정규식
  - re 모듈

- 크롤링
  - bs4
  - urllib.request

In [3]:
# 학생정보를 튜플,리스트,딕셔너리로 다양하게 표현
# 이름과 나이
tuple_1 = ('홍길동',20)
list_1 = ['홍길동',20]
dict_1 = { '홍길동':20  }

names = ['김씨','박씨','이씨']
ages = [20,21,22]

# 두개의 순차적인 리스트를 가지고 zip 함수를 통해 dictionary 데이터 만들기
dict(zip(names,ages))

{'김씨': 20, '박씨': 21, '이씨': 22}

In [6]:
# 리스트를 이용한 슬라이싱 연습
# 데이터를 랜덤하게 20개 만들어서 리스트로 저장
import random
random.randint(0,100)  #  20번실행하면서 리스트에 저장

list_1 = []
for i in range(20):
  list_1.append( random.randint(0,100) )
list_1

[13, 60, 6, 61, 71, 59, 18, 55, 93, 36, 17, 68, 5, 2, 94, 77, 12, 77, 13, 93]

In [7]:
# list_1[시작인덱스 : 끝인덱스]
# 시작인덱스를 생략하면 처음부터  list_1[ : 끝인덱스]   -->  ~~~ 끝은 끝인덱스-1
# 끝인덱스를 생략하면 마지막  list_1[ 시작인덱스 : ]    --> 시작인덱스 부터 시작
# list_1[ : ]  --> list_1의 데이터를 처음부터 끝까지 읽어서 새로운 변수에 할당 또는 출력.. 기타등등
list_1[ : 5]  # 인덱스가 0 1 2 3 4

[13, 60, 6, 61, 71]

In [8]:
list_1[ 5: ]

[59, 18, 55, 93, 36, 17, 68, 5, 2, 94, 77, 12, 77, 13, 93]

In [9]:
list_1[ 5: 10]

[59, 18, 55, 93, 36]

In [10]:
# 리스트의 맨 마지막 데이터 : -1
list_1[-1]

93

In [11]:
#리스트의 앞에서 3개 그리고 뒤에서 3개만 추출
list_1[:3], list_1[-3:]

([13, 60, 6], [77, 13, 93])

In [14]:
# 인덱스 3 5 7 9 11 인 데이터를 출력
# list_1[ 시작:끝:스텝]   스텝은 생략하면 기본이 1
# 인덱스 3 4 5 6 7 8 9 10 11  --> list_1[3:12 : 1]
list_1[3: 12: 2]

[61, 59, 55, 36, 68]

In [15]:
# 스텝을 -1을 사용하면---> reverse
list_1[::-1]

[93, 13, 77, 12, 77, 94, 2, 5, 68, 17, 36, 93, 55, 18, 59, 71, 61, 6, 60, 13]

In [18]:
# 정렬
# 오름차순 asc  -->기본
print( sorted(list_1) )
# 내림차순 desc
print( sorted(list_1,reverse=True))

[2, 5, 6, 12, 13, 13, 17, 18, 36, 55, 59, 60, 61, 68, 71, 77, 77, 93, 93, 94]
[94, 93, 93, 77, 77, 71, 68, 61, 60, 59, 55, 36, 18, 17, 13, 13, 12, 6, 5, 2]

In [19]:
# 내림차순으로 정렬한 데이터를 7:3의 비율로
# train, test 라는 변수에 저장해 보자
# 만약에 데이턱 10라면 7:3 이면...  train 은 7개 test는 3
# train = temp[: 7]
# test = temp[7 : ]
list_1_desc = sorted(list_1,reverse=True)
split_index = len(list_1_desc)*7//10   #int(len(list_1_desc)*0.7)
train = list_1_desc[: split_index]
test = list_1_desc[split_index : ]
print(train)
print(test)

[94, 93, 93, 77, 77, 71, 68, 61, 60, 59, 55, 36, 18, 17]
[13, 13, 12, 6, 5, 2]

In [22]:
# 리스트 데이터 사용시 주의사항
# 아래는 수치형 변수
a = 10
b = a   # ---------> 데이터 복사
# a와 b는 같다
print(a==b,a,b)
a= 20
print(a==b,a,b)

True 10 10
False 20 10

In [25]:
# 자료구조형 변수들... 리스트 튜플 딕셔너리, 클래스의 객체등등.. 참조형 변수
list_1 = [1,2,3,4]
list_2 = list_1          # ----------------------> list_1과  list_2는 동일한 변수
print(list_1==list_2, list_1, list_2)
list_1[0] = 100
print(list_1==list_2, list_1, list_2)

True [1, 2, 3, 4] [1, 2, 3, 4]
True [100, 2, 3, 4] [100, 2, 3, 4]

In [27]:
def changeInt(x):
  x = 100
  return x

def changeList(x):
  x[0] = 100

x = 0
x = changeInt(x)
print(x) # -->

x = [1,2,3,4]
changeList(x)
print(x) # -->

100
[100, 2, 3, 4]

In [38]:
# 나눗셈 함수를 만든다.. 매개 변수는 2개
def divide(x,y):
  if y!=0:
    return int(x / y)
  else:
    return -1

divide(-1,1)

-1

In [43]:
def divide(args):
  if args[1]!=0:
    args[2] = args[0] / args[1]
    return True
  else:
    return False

args = [5,0,0]
if divide(args):
  print(args[2])
else:
  print('0으로 나눌수 없습니다.')

0으로 나눌수 없습니다.