 - 변수
 - 자료구조
  - 리스트, 튜플, 딕셔너리
 - 명령문들의 집합
  - 함수

 - 클래스 : 설계도 (붕어빵틀)
  - 변수 : 인스턴스 변수
  - 함수 : 인스턴스 함수 or 메소드

 - 객체 : Object
  - 클래스의 기능을 사용할수 있도록 하는 일종의 변수

In [1]:
# 일반변수
age = 10
print(age)

10

In [2]:
ages = [45,40,21,15,17]
ages.append(100)
ages.reverse()
print(ages)

[100, 17, 15, 21, 40, 45]

기본클래스 10개

In [3]:
# 클래스명 Person
# 변수 name, age
# 함수 introduce  안녕하세요 저는 000 이고 나이는 000 입니다.

In [4]:
if True:
  pass

In [5]:
for i in range(3):
  pass

In [6]:
def show():
  pass

In [7]:
# 클래스
class Person:
  pass

In [8]:
# 클래스로 부터 객체를 생성하고 사용
p = Person()

In [9]:
type(p)

__main__.Person

In [10]:
p.age = 10
p.name = '홍길동'
print(p.age, p.name)

10 홍길동

클래스의 변수를 클래스 내부에서 정의
  - 변수는 함수를 통해 생성
  - 클래스내부의 함수는 항상 첫번째 파라메터로 self를 사용한다.
  - self는 실제 호출되지 않는 파라메터이다.

In [14]:
class Person():
  name = ""
  age = 0

In [18]:
p = Person()
p2 = Person()
p.name = '홍길동'
print(p2.name)
p2.name = '의적'
print(p.name, p2.name)

홍길동 의적

In [30]:
# 클래스에 함수 추가하기
class Person():
  name = ""
  age = 0
  def introduce(self):
    print(f"저의 이름은 {self.name}이고 나이는 {self.age} 입니다. ")

In [31]:
p = Person()  # 객체 생성
p.name = '이순신'   # 객체 변수에 값을 할당
p.age = 50          # 객체 변수에 값을 할당
p.introduce()    # 클래스내부의 함수--> 메소드를 호출

저의 이름은 이순신이고 나이는 50 입니다.

In [34]:
# 클래스 내부의 변수를 함수를 통해 생성
class Person():
  def initdata(self,name,age):
    self.name = name
    self.age = age
  def introduce(self):
    print(f"저의 이름은 {self.name}이고 나이는 {self.age} 입니다. ")

In [35]:
p = Person()
p.initdata('강감찬',40)
p.introduce()

저의 이름은 강감찬이고 나이는 40 입니다.

In [ ]:
p2 = Person()   # 객체생성
p2.introduce()

생성자
  - 객체생성시 자동으로 호출
  - 자동 호출이기 때문에 이름은 지정되어 있다
  - 사용자가 내용을 채워넣지 않으면 빈 껍대기가 실행된다 그리고 보이지 않는다

In [39]:
# 생성자
class Person():
  def __init__(self):  # 생성자
    print("생성자가 호출되었습니다.")

  def initdata(self,name,age):
    self.name = name
    self.age = age
  def introduce(self):
    print(f"저의 이름은 {self.name}이고 나이는 {self.age} 입니다. ")

In [40]:
print("객체 생성전.....")
p = Person()
print("객체 생성후.....")
p.initdata('강감찬',40)
p.introduce()

객체 생성전.....
생성자가 호출되었습니다.
객체 생성후.....
저의 이름은 강감찬이고 나이는 40 입니다.

In [44]:
# 생성자
class Person():
  def __init__(self,name="무명",age=1):  # 생성자 는 변수생성 및 초기화의 역활로 딱이다.
    self.name = name
    self.age = age

  def introduce(self):
    print(f"저의 이름은 {self.name}이고 나이는 {self.age} 입니다. ")

In [46]:
p = Person('홍길동', 18)
p.introduce()

p2 = Person()
p2.introduce()

저의 이름은 홍길동이고 나이는 18 입니다.
저의 이름은 무명이고 나이는 1 입니다.

클래스 작성
* class 클래스명():
*   def __init__(self):
**     필요한 변수 생성

필요한 다양한 메소 드 작성

계산기 클래스 : Calculator
  - 변수 x, y
  - add 메소드
  - minus 메소드
  - divide 메소드
  - multi 메소드

In [54]:
class Calculator():
  def __init__(self,x,y):
    self.x = x
    self.y = y
  def add(self):
    return self.x + self.y
  def minus(self):
    return self.x - self.y
  def multi(self):
    return self.x * self.y
  def devide(self):
    return self.x / self.y

In [55]:
c = Calculator(10,20)
print(c.add()); print(c.minus()); print(c.multi()); print(c.devide())

30
-10
200
0.5

In [56]:
class Calculator():
  def __init__(self,x,y):
    self.x = x
    self.y = y
  def add(self):
    print(self.x + self.y)
  def minus(self):
    print( self.x - self.y)
  def multi(self):
    print( self.x * self.y )
  def devide(self):
    print( self.x / self.y )

In [57]:
c = Calculator(10,20)
c.add();c.minus(); c.multi(); c.devide()

30
-10
200
0.5

In [58]:
c = Calculator(10,20)
temp =  c.add()
print(temp)

30
None

In [60]:
# 클래스와 람다 결합
class Calculator():
  def __init__(self,x,y):
    self.x = x
    self.y = y
  def process(self, func  ):
    return func(self.x,  self.y)

In [66]:
p = Calculator(10,20)  # 객체생성
p.process( lambda a,b : (a + b)*2   )

60

In [ ]:
# 사각형 클래스
# Rectangle
# 변수 width, height
# def calcualte_area   면적계산

# 책
# Book
# 변수 title, author
# get_info()  타이틀과 작가 출력

# 차량클래스
# Vehicle
# 변수 make model year
# def display_info  변수의 값들을 출력

In [67]:
class Book():
  def __init__(self,title,author) -> None:
    self.title = title
    self.author = author
  def get_info(self):
    return f'title:{self.title}  author:{self.author}'

book = Book("파이썬 정복", '이선생')
binfo = book.get_info()
print(binfo)

title:파이썬 정복  author:이선생

상속
  - 상속받는 클래스에다가 모든 기능을 전달
  - 상속받는 클래스는 자기에관한 고유 기능만 따로 개발
  - 복잡도가 낮아지고 같은 계열을 상속 받은 클래스들은 공통 특징을 가진다.

In [72]:
class Aaa():
  def __init__(self,x) -> None:
    self.x = x
  def aaa_func(self):
    print("나는 Aaa 클래스에 있는 함수",self.x)

class Bbb():
  def __init__(self,x) -> None:
    self.x = x
  def bbb_func(self):
    print("나는 Bbb 클래스에 있는 함수",self.x)

In [73]:
a = Aaa(10)
b = Bbb(20)

a.aaa_func()
b.bbb_func()

나는 Aaa 클래스에 있는 함수 10
나는 Bbb 클래스에 있는 함수 20

In [82]:
class Aaa():
  def __init__(self,x) -> None:
    self.x = x

  def aaa_func(self):
    print("나는 Aaa 클래스에 있는 함수",self.x)

class Bbb(Aaa):
  def __init__(self, x) -> None:
    super().__init__(x)   # super() 상속받은 클래스의 객체를 뜻한다.... self는 자신을 나타내는 객체
    # 부모없이 자식이 있을수 있을까요?

  def bbb_func(self):
    print("나는 Bbb 클래스에 있는 함수",self.x)

In [83]:
b = Bbb(20)
b.bbb_func()
b.aaa_func()

나는 Bbb 클래스에 있는 함수 20
나는 Aaa 클래스에 있는 함수 20

In [85]:
class Aaa():
  def __init__(self,x) -> None:
    self.x = x

  def aaa_func(self):
    print("나는 Aaa 클래스에 있는 함수",self.x)

class Bbb(Aaa):
  def __init__(self, x,y) -> None:
    super().__init__(x)   # super() 상속받은 클래스의 객체를 뜻한다.... self는 자신을 나타내는 객체
    # 부모없이 자식이 있을수 있을까요?
    self.y = y

  def bbb_func(self):
    print("나는 Bbb 클래스에 있는 함수",self.x, self.y)

In [87]:
b = Bbb(20,30)
b.bbb_func()
b.aaa_func()

나는 Bbb 클래스에 있는 함수 20 30
나는 Aaa 클래스에 있는 함수 20

언제 상속관계를 갖을까?
  - 여러클래스들의 공통속성을 뽑아서 부모클래스로 만들고
  - 상속받는 클래스들을 만들면
  - 부모클래스의 속성을 다 가지고 있기때문에.. 클래스들의 관계가 통일성이 있다

In [90]:
# 부모가 display()메소드를 가지고 있는데.
# 자식인 부모를 상속받으면 display() 사용할수 있다 ok

# 만약.. 같은 메소드를 부모와 자식이 가지고 있으면?
# 자식객체는 누구꺼를 쓸까?

class Parents():
  def make_money(self):
    print("열심히 저축해라")

class Child(Parents):
  def make_money(self):
    print("적당한 투자도 하고 부동산도 잘 사고, 부업도 하고,,,")   # override  오버라이드

In [91]:
child = Child()
child.make_money()

적당한 투자도 하고 부동산도 잘 사고, 부업도 하고,,,

In [92]:
# Dog
# speak()

# Cat
# speak()

In [93]:
class Animal():
  def speak(self):
    pass

class Dog(Animal):
  def speak(self):
    print("멍멍")

class Cat(Animal):
  def speak(self):
    print("야옹야옹")

class Lion(Animal):
  pass

In [94]:
lion = Lion()
lion.speak()

In [98]:
class ZeroWithTenException(Exception):
  def __init__(self, *args: object) -> None:
    super().__init__(*args)

In [101]:
try:
  number = input("0과 10사이의 값을 입력하세요")
  if number not in "0123456789":
    raise ZeroWithTenException("반드시 범위내의 값을 입력하셔야 합니다.")
except ZeroWithTenException as e:
  print(e)

0과 10사이의 값을 입력하세요500
반드시 범위내의 값을 입력하셔야 합니다.