In [1]:
list1 = [10,5,4,8,7,9,5,2,1]
print('정렬전:',list1)
list1 = sorted(list1)
print('오름차순으로 정렬:',list1)
list1 = list1[::-1]  # 뒤집기
print('내림차순으로 정렬:',list1)

정렬전: [10, 5, 4, 8, 7, 9, 5, 2, 1]
오름차순으로 정렬: [1, 2, 4, 5, 5, 7, 8, 9, 10]
내림차순으로 정렬: [10, 9, 8, 7, 5, 5, 4, 2, 1]

리스트의 연산
  - + : 두개의 리스트를 합쳐 새로운 리스트를 만든다
  - * : 리스트를 반복해서 새로운 리스트를 만든다

In [2]:
color1 = ['red','blue','green']
color2 = ['orange','black','white']
total_color = color1 + color2
print('total_color : ', total_color)

total_color :  ['red', 'blue', 'green', 'orange', 'black', 'white']

In [4]:
# color1 + 2   # 리스트끼리만 더할수 있음
color1 + [2]

['red', 'blue', 'green', 2]

In [5]:
print('blue' in color2)
print('blue' in color1)

False
True

리스트 추가
  - append
    - 값 자체를 추가 : 표현한 그대로 추가
  - extend
    - 값이 아니라 리스트로 추가
    - 그런데. 추가하려는게 값이면 특히 문자열이면
    - 문자열 자체를 리스트로 간주하고 추가한다
      - 숫자와 같이 연속적인 데이터집합형태가 아니면 에러

In [9]:
color = ['red','blue','green']
color.append('white')
print(color)

['red', 'blue', 'green', 'white']

In [7]:
color = ['red','blue','green']
color.append(['white'])
print(color)

['red', 'blue', 'green', ['white']]

In [10]:
color = ['red','blue','green']
color.extend(['white'])
print(color)

['red', 'blue', 'green', 'white']

In [11]:
color = ['red','blue','green']
color.extend('white')  # 문자열은 문자의 집합
print(color)

['red', 'blue', 'green', 'w', 'h', 'i', 't', 'e']

In [12]:
color = ['red','blue','green']
color.extend(100)
print(color)

TypeError: ignored

In [16]:
temp = 'white'  # 문자로 이루어진 리스트
print(temp[0])
print(temp[-1])
print(temp[ 2 : ])

w
e
ite

문자열은 문자들로 구성된 리스트

추가 및 삭제
  - 원하는 위치에 값을 추가
    - insert(인덱스, 값)
  - 삭제는 리스트에 있는 원소의 이름으로 삭제
    - remove(원소의 값) : 처음 만나는 원소의 값만 삭제

In [29]:
color = ['red','blue','green']
color.insert(0,'orange')
print(color)
color.insert(3,'red')
print(color)

['orange', 'red', 'blue', 'green']
['orange', 'red', 'blue', 'red', 'green']

In [30]:
color.remove('red')
print(color)

['orange', 'blue', 'red', 'green']

In [31]:
# 값을 수정
color = ['red','blue','green']
color[0] = 'orange'
print(color)

['orange', 'blue', 'green']

In [32]:
del color[0]
print(color)

['blue', 'green']

- 2차원 리스트
  - 데이터로 리스트를 가지는 리스트
- 1차원 리스트
  - 데이터가 리스트가 아닌 실제 값

In [34]:
list1 = [1 , 2]   # 1차원 리스트
list2 = [ [1 , 2],  [1 , 2]   ]  # 1차원 리스트를 원소로 하는 리스트 --> 2차원 리스트0
list3 = [  [ [1 , 2],  [1 , 2]   ],  [ [1 , 2],  [1 , 2]   ]   ]  # 3차원 리스트
# .....

In [35]:
kor_score = [50,40,60,70,80]
math_score = [55,45,65,75,85]
eng_score = [53,43,63,73,83]
midterm_score = [ kor_score, math_score, eng_score]
print(midterm_score)

[[50, 40, 60, 70, 80], [55, 45, 65, 75, 85], [53, 43, 63, 73, 83]]

In [48]:
print( midterm_score[2][3] )

73

리스트의 메모리 방식
  - 여러데이터를 생성한 실제 메모리를 참조한다.
  - 변수는 데이터 한개만 저장가능하기 때문에
  - 집합성 데이터는 주소값을 가지고 있다
  - 그래서 주소를 알면 원본데이터를 수정할 수 있다

In [55]:
num1 = 10; num2 = 20
numary = [ num1, num2 ]
print(numary)
num1 = 1000
print(numary)

[10, 20]
[10, 20]

In [56]:
num1 = [10]; num2 = [20]
numary = [ num1, num2 ]
print(numary)
num1[0] = 1000
print(numary)

[[10], [20]]
[[1000], [20]]

In [58]:
num1 = 10
num2 = num1
print(num1, num2)
num1 = 50
print(num1, num2)

10 10
50 10

In [59]:
num1 = [10]
num2 = num1
print(num1, num2)
num1[0] = 50
print(num1, num2)

[10] [10]
[50] [50]

In [61]:
num1 = [10,20]
num2 = [30,40]
num3 = [ num1, num2 ]
print(num3)
num1[0] = 123
print(num3)

[[10, 20], [30, 40]]
[[123, 20], [30, 40]]

- 파이썬에서 기본데이터 타입에 해당하는 데이터를 제외한
- 리스트,튜플,익셔너리,set,객체(Object)는 모두 주소방식 이며 이러한 것을 참조형이라 한다
- 정수형,실수형,부울형을 제외한 모든 타입은 참조형

In [62]:
a = [5,4,3,2,1]
b = [1,2,3,4,5]
b = a   # 같은주소를 가지는 동일변수  둘다 a동 101호
print(b)
# b는 건들지 않고 a만 수정을 가하면 즉 a를 이용해서 정렬하면
a.sort()
# b도 a와 같은 변수이기때문에.. b를 출력하면 a로 정렬한 값을 출력한다.
# 왜나면 둘다 같은 값을 가릭키는 동일 주소를 가지고 있기 때문
print(b)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

In [64]:
a = [5,4,3,2,1]
b = [1,2,3,4,5]
b = a[:]   # 값만 같게 하고 서로 주소는 다르게 하는 독립적인 변수로 만듦
print(a)
print(b)
# a 리스트를 정렬
a.sort()
# b를 출력하면
print(b)

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

In [ ]:
# input()을 이용해서 학생의 점수를 입력받는다. -- 총 5명
# 5명의 점수중에서 가장 높은 점수는?
# 1등과 2등의 점수는?
# 모든학생들의 평균점수는?
scores = []
scores.append( int(input("점수를 입력하세요:")) )
scores.append( int(input("점수를 입력하세요:")) )
scores.append( int(input("점수를 입력하세요:")) )
scores.append( int(input("점수를 입력하세요:")) )
scores.append( int(input("점수를 입력하세요:")) )
print("가장높은 점수는 : ", max(scores) )
# 내림차순으로 정렬해서 가장 앞에 있는 점수가 1등. 그 다음이 2등  [0], [1]
scores = sorted(scores,reverse=True)  # 내림차순
print("1등점수는:",scores[0],"2등점수는:",scores[1])
print("평균은:",sum(scores) / len(scores))

- 리스트 합치기 및 정렬 :
  - 두개의 리스트를만들고 합쳐서 새로운 리스트를 만들고,
  - 합친 리스트를 정렬, 역순으로 출력
- 리스트에서 특정값을 찾기 :
  - 주어진 리스트에서 특정 값의 인덱스를 통해서값을 출력,
  - 특정한 값이 리스트에 있는지 in 연산자를 통해 확인
- 2차원 리스트를 만들기
  - [][] 이렇게 특정 위치의 값을 출력