In [2]:
def f1(x):
  if x == 1:
    return 1
  return x + f1(x-1)

In [ ]:
# f1(5)
# f1(5) = 5 + f1(4)
# f1(4) = 4 + f1(3)
# f1(3) = 3 + f1(2)
# f1(2) = 2 + f1(1)
# f1(1) = 1

# f1(2) = 2 + 1
# f1(3) = 3 + 2 + 1
# f1(4) = 4 + 3 + 2 + 1
# f1(5) = 5 + 4 + 3 + 2 + 1

In [3]:
f1(5)

15

함수의 인수,매개변수,argument, parameter

In [4]:
def f2( number, name ):
  print(f'숫자는:{number} 이름은:{name}')

키워드 매개변수
  - 사용할때 매개변수를 지정해서 값을 할당한다
  - 일반매개변수는 키워드 매개변수 다음에 올수 없다
  - 키워드 매개변수와 일반매개변수를 혼용해서 사용할때는 일반 매개변수 다음에 반드시 키워드 매개변수를 사용한다.

In [6]:
f2('홍길동', 20)
f2(20, '홍길동')

숫자는:홍길동 이름은:20
숫자는:20 이름은:홍길동

In [7]:
f2(name ='홍길동', number = 20)

숫자는:20 이름은:홍길동

In [10]:
def f3(x1, x2, x3):
  pass

In [ ]:
f3(5, x2 = 6, x3 = 10 ) # ok
# f3(x2 = 6, 10, 20 ) # Positional argument cannot appear after keyword arguments

디폴트 매개변수
  - 디폴트 매개변수와 일반매개변수가 같이 있으면
  - 디폴트 매개변수는 맨 마지막 부터 설정한다.

In [14]:
def add( x, y = 10):
  return x + y

In [20]:
add( 10 )

20

In [21]:
# 일반매개변수는 디폴트 매개변수 다음에 와야 한다
def add( y = 10, x):  # Non-default argument follows default argument
  return x + y

SyntaxError: ignored

In [22]:
# z부터 설정하고 그다음 y 설정
def add(x, y=0 , z=0):
  pass

In [ ]:
add(1,2)

가변 인수
  - 매개변수명에 *(에스트트리크)를 붙여서 만든다
  - 개수에 상관없이 받아들인다.

In [30]:
def add(*args):
  print(f"전달받은 매개변수들은 {args}")
  print(f"전달받은 매개변수들의 합은 : {sum(args)}")
  print(f"전달받은 매개변수의 타입은 : {type(args)}")
  print(f"전달받은 매개변수들은 args라는 이름의 리스트와 같은 집합이 된다")

In [34]:
add(1,2,4,5)

전달받은 매개변수들은 (1, 2, 4, 5)
전달받은 매개변수들의 합은 : 12
전달받은 매개변수의 타입은 : <class 'tuple'>
전달받은 매개변수들은 args라는 이름의 리스트와 같은 집합이 된다

In [35]:
def add(x, *args):
  print(f"일반매개변수 x : {x}")
  print(f"가변매개변수 args : {args}")

In [36]:
add(1,2,3,4,5,6,7,8,9,10)

일반매개변수 x : 1
가변매개변수 args : (2, 3, 4, 5, 6, 7, 8, 9, 10)

In [43]:
def add(*args, x):
  print(f"일반매개변수 x : {x}")
  print(f"가변매개변수 args : {args}")

In [42]:
add(1,2,3,4,5,6,7,8,9,10)

TypeError: ignored

In [44]:
add(1,2,3,4,5,6,7,8,9,x = 10)

일반매개변수 x : 10
가변매개변수 args : (1, 2, 3, 4, 5, 6, 7, 8, 9)

키워드 가변 인수
  - 키워드 + 가변 인수
  - **인수명
  - 함수의 매개변수로 **인수명 을 사용하면
  - 함수를 호출하는 쪽에서 키워드 인수를 이용해서 값을 지정해 주면 함수 내부에서 사용한다.

In [48]:
def add(**kargs):
  print(f'키워드 가변인수:{kargs}')
  print(f'x:{kargs["x"]}')
  print(f'x:{kargs["y"]}')
  print(f'x:{kargs["z"]}')
  print( kargs['x'] + kargs['y'] + kargs['z']  )

In [49]:
add(x=10, y=20, z=30 )

키워드 가변인수:{'x': 10, 'y': 20, 'z': 30}
x:10
x:20
x:30
60

키워드 인수 사용 해 보기

In [51]:
def greet(name, greeting = '안녕하세요'):
  print(f'{greeting}, {name}')

greet(name = '홍길동')

안녕하세요, 홍길동

In [52]:
def display_info(name, age, city):
  print(f'이름:{name} 나이:{age} 도시:{city}')

In [53]:
display_info(age = 20, city = '서울', name='홍길동')

이름:홍길동 나이:20 도시:서울

디폴트 인수

In [55]:
# 계산기
def calc(x , y, operation = 'add'):
  if operation == 'add':
    return x + y
  elif operation == 'sub':
    return x / y
  elif operation == 'minus':
    return x - y
  elif operation == 'multi':
    return x * y
  else:
    return None

In [58]:
print( calc(10,20,'minus')  )
print( calc(10,20,operation='minus')  )  # 추천.... 함수는

-10

In [59]:
# dictionary를 배울때 키워드 가변 인수를 적극 사용할 예정

함수 적용해 보기

In [61]:
def getUserData():
  height = float(input("키를 입력하세요(cm)"))
  weight = float(input("몸무게를 입력하세요(kg)"))
  return height, weight

def proceeBMI(height, weight):
  return weight /  ( (height*0.01)**2 )

def checkBMI(bmi):
  if bmi >=25.0:
    return '비만'
  elif bmi >= 23.0:
    return '과체중'
  elif bmi >= 18.5:  # 18.5 ~ 22.9
    return '정상'
  else:
    return '저체중'

In [63]:
# 미만도를 측정하기 위해서 사용자로부터 데이터를 입력받는다
height,weight =  getUserData()

# bmi를 계산한다
bmi = proceeBMI(height,weight)

# bmi에 따른 비만여부를 출력한다
print(f'현재 bmi 지수를 이용한 비만도는 : {checkBMI(bmi)}')

키를 입력하세요(cm)180
몸무게를 입력하세요(kg)78
현재 bmi 지수를 이용한 비만도는 : 과체중

In [69]:
# 중복없이 특정 범위를 지정하면 해당 범위의 값중에 랜덤하게 리스트로 만들어주는 함수
# 매개변수는 start, end, n
import random
list1 = [1,2,3,4,5,6,7,8,9]
random.shuffle(list1)
print(list1)

[4, 6, 3, 7, 5, 2, 9, 8, 1]

In [113]:
import random
def randomRange(start, end , n):
  list1 = []
  for i in range(start, end):
    list1.append(i)
  # 섞는다
  random.shuffle(list1)
  return sorted(list1[ : n])

In [114]:
for i in range(5):
  print(randomRange(1,46,6))

[3, 11, 13, 36, 37, 39]
[2, 20, 22, 34, 36, 45]
[6, 10, 15, 18, 19, 28]
[10, 22, 26, 28, 30, 44]
[1, 7, 22, 28, 33, 37]

In [98]:
list1 = [36, 11, 45, 41, 1, 2]
random.shuffle(list1)
list1.sort()
list1[:3]

[1, 2, 11]

In [122]:
def exchange(won,rate=1305.54):
  dollar =  won // rate
  ex_won = won % rate
  return dollar,round(ex_won)

In [123]:
exchange(1000000)

(765.0, 1262)

In [124]:
exchange(1000000,rate=9.03)

(110741.0, 9)

In [125]:
exchange(1000000,rate=1429.41)

(699.0, 842)

In [126]:
exchange(1000000,rate=1660.98)

(602.0, 90)

In [128]:
exchange(1000000,rate=1.63)

(613496.0, 2)

In [132]:
print("It\ts ok")

It	s ok

In [133]:
a = "동해물과 백두산이\n"
a += "마르고 닿도록\n"
a += "하느님이 보우하사"
print(a)

동해물과 백두산이
마르고 닿도록
하느님이 보우하사

In [140]:
print("-"*100)
a = '''동해물과 백두산이
마르고 닿도록
하느님이 보우하사'''
print(a)
print("-"*100)

----------------------------------------------------------------------------------------------------
동해물과 백두산이
마르고 닿도록
하느님이 보우하사
----------------------------------------------------------------------------------------------------