순환문

In [ ]:
range(10)  # 0 ~ 9

range(0, 10)

In [ ]:
list( range(10) )

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list( range(1,11) )

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in [10, 5, 8, 9, 1]:
  print(i)

10
5
8
9
1

for문의 문법은   for  변수 in 집합:
  - for i in range(5): --> 5번 반복
  - for i in [1,2,3] :  --> 3번 반복

In [ ]:
# 3개의 점수를 받아서.. .....
list1 = []
list1.append( int( input("점수를 입력하세요:") )   )
list1.append( int( input("점수를 입력하세요:") )   )
list1.append( int( input("점수를 입력하세요:") )   )
print('총점은 :',sum(list1)  )

점수를 입력하세요:10
점수를 입력하세요:20
점수를 입력하세요:30
총점은 : 60

In [ ]:
list1 = []
for i in range(3):
  list1.append( int( input("점수를 입력하세요:") )   )
print('총점은 :',sum(list1)  )

점수를 입력하세요:10
점수를 입력하세요:20
점수를 입력하세요:30
총점은 : 60

In [ ]:
#구구단 중에 5단
# print('5 x 1 = 5')
# print('5 x 2 = 10')
# print('5 x 3 = 15')
# print('5 x 4 = 20')
# # ....
# print('5 x 9 = 45')
# -->
i = 1
print('5 x',i,'=',5*i)
i = 2
print('5 x',i,'=',5*i)
i = 3
print('5 x',i,'=',5*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15

In [ ]:
for i in range(1,10):
  print('5 x',i,'=',5*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [ ]:
i = 1
i += 2
i += 3
#  1 + 2 + 3
# 1 부터 10까지 더한 합은?
print(1+2+3+4+5+6+7+8+9+10)

55

In [ ]:
# sum = 0  예약어는 항상 조심 또 조심
total = 0
for i in range(1,11):
  total += i
print('1부터 10까지의 합은 : ', total)

1부터 10까지의 합은 :  55

In [ ]:
# 1부터 10까지의 숫자중에 짝수만 출력
for i in range(1,11):
  if i % 2 ==0: # 짝수조건
    print(i)

2
4
6
8
10

In [ ]:
# 2000년도부터 올해2050년 중에 윤년에 해당하는 년도만 출력
for year in range(2000, 2051):
  if year % 4 == 0 and not (year % 100 ==0 and year % 400 != 0) :
    print(year)

2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048

- for 문은 순서대로 반복할 수 있는 객체의 각 요소에 대해
- while 문은 특정 조건이 충족될 때까지

In [ ]:
i = 1
while i <= 10:
  print(i)
  i += 1

In [ ]:
for i in range(1,11):
  print(i)

In [ ]:
data = 'y'
while data == 'y':
  print("hello")
  data = input("계속하시겠습니까(y):")

print("순환문이 종료되었습니다.")

In [ ]:
# 3명의 점수를 입력받아서 평균을 출력  --> for 문
# 그 과정을 매번 물어봐서 계속하겠다고 하면 반복  for문 자체를 while문이 감싸는 구조

isContinue = 'y'
count = 0
all_avg = 0.0;
while isContinue == 'y':
  count += 1
  scores = []
  for i in range(3):
    scores.append( int( input("점수를 입력하세요:") )  )
  print('평균은:', round(sum(scores) / len(scores), 2) )
  all_avg += round(sum(scores) / len(scores), 2)
  isContinue = input("계속하시겠습니까?(y)")

print('총',count,'만큼 실행했고 전체평균은',round(all_avg / count,2))

In [ ]:
while True:
  print("hello")
  if input('계속하시겠습니까(y)') != 'y':
    break

hello
계속하시겠습니까(y)y
hello
계속하시겠습니까(y)y
hello
계속하시겠습니까(y)y
hello
계속하시겠습니까(y)n

- break 문은 루프를 즉시 종료합니다.
- 루프에서 break 문을 만나면 루프 내부의 나머지 코드는 실행되지 않습니다.

In [49]:
for i in range(10):
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [52]:
for i in range(10):
  if i == 5:  # 5일때 break 실행
    break
  print(i,end=" ")

0 1 2 3 4

In [53]:
for i in range(10):
  if i == 5:  # 5일때 continue 실행
    continue
  print(i, end=" ")

0 1 2 3 4 6 7 8 9

In [54]:
for i in range(10):
  if i == 3 or i == 7:
    continue
  print(i, end=" ")

0 1 2 4 5 6 8 9

모든 블럭은 중첩이 가능하다
  - 조건문 안에 조건문
  - 조건문 안에 순환도
  - 순환문 안에 조건문
  - 순환문 안에 순환문

In [56]:
for i in range(3):
  for j in range(4):
    print('i:',i," j:",j, end="\t")
  print()

i: 0  j: 0	i: 0  j: 1	i: 0  j: 2	i: 0  j: 3
i: 1  j: 0	i: 1  j: 1	i: 1  j: 2	i: 1  j: 3
i: 2  j: 0	i: 2  j: 1	i: 2  j: 2	i: 2  j: 3

In [64]:
i = 1
print(f'2 x {i} = {2*i}')

i = 2
print(f'2 x {i} = {2*i}')

# for i in range(1,10):
#   print(f'2 x {i} = {2*i}')

2 x 1 = 2
2 x 2 = 4

In [ ]:
# 2단 출력
i = 2
for j in range(1,10):
  print(f'{i} x {j} = {i*j}')
print()

i = 3
for j in range(1,10):
  print(f'{i} x {j} = {i*j}')
print()

i = 4
for j in range(1,10):
  print(f'{i} x {j} = {i*j}')
print()

In [ ]:
for i in range(2,10):
  for j in range(1,10):
    print(f'{i} x {j} = {i*j}')
  print()

In [82]:
sentence = "i love you"
# sentence[::-1]
for i in range(-1,-len(sentence)-1,-1):
  print(sentence[i],end="")

uoy evol i

In [81]:
sentence = "i love you"
reverse_sentence = ""
for char in sentence:
  reverse_sentence = char + reverse_sentence
print(reverse_sentence)

uoy evol i

In [84]:
# 회문...... 앞뒤가 같은 문장.
str = 'olo'
# 문자열을 입력받아서 그 문자열이 회문인지 판단하는 로직
str = input("문자열을 입력하세요:")
reverse_str = str[::-1]
if str == reverse_str:
  print("회문 입니다.")

문자열을 입력하세요:aba
회문 입니다.

In [ ]:
# 0과 10사이의 임의의 수를 입력받아서
num = int(input("0~10사이의 정수를 입력하세요:"))
# 해당값의 합이 50을 넘어가면 종료하고 그 합을 출력하고 몇번 했는지 카운트도세서 출력