람다 함수

In [3]:
a = { "다":10, "가":100, "나" : 15  }
a, a.items()

({'다': 10, '가': 100, '나': 15}, dict_items([('다', 10), ('가', 100), ('나', 15)]))

In [8]:
def s(x):
  return x[1]  #  (키, 벨류)  에서 벨류를 뜻한다

sorted(a.items(),key = s)   # 딕셔너리 정렬은 items()의 데이터들중에 키 또는 값을 기준을 할건지 정한다
# 정할때는 items의 (키,벨류) 구조를 전달받는 함수로 기준을 표현

[('다', 10), ('나', 15), ('가', 100)]

In [9]:
# 키를 기준으로 정렬
def s(x):
  return x[0]  #  (키, 벨류)  에서 벨류를 뜻한다
sorted(a.items(),key = s)

[('가', 100), ('나', 15), ('다', 10)]

In [14]:
sorted(a.items(),key = lambda x: x[0])   # a 라는 딕셔너리의 키 값을 기준으로

[('가', 100), ('나', 15), ('다', 10)]

In [15]:
sorted(a.items(),key = lambda x: x[1])

[('다', 10), ('나', 15), ('가', 100)]

In [17]:
# 인수는 x, y 라는 값으로 2개 받고 f라는 인수는
def calc( x, y , f ):
  return f(x,y)   # 함수로 사용한다. 즉 함수를 전달받는다

In [23]:
print( calc(10,2,f = lambda x,y: x+y) )
print( calc(10,2,f = lambda x,y: x-y) )
print( calc(10,2,f = lambda x,y: x*y) )
print( calc(10,2,f = lambda x,y: x/y) )

12
8
20
5.0

Map() 함수 이용하기

In [25]:
list_1 = [1, 2, 3, 4, 5]
list(map(lambda x:x**2, list_1))

[1, 4, 9, 16, 25]

In [26]:
list(map(lambda x:x+10, list_1))

[11, 12, 13, 14, 15]

In [28]:
list_1 = ['1', '2', '3', '4', '5']
# 리스트에 있는 문자형 숫자를 숫자로 변경   int('1')
list(map( lambda x : int(x)  , list_1 ))

[1, 2, 3, 4, 5]

In [29]:
[ int(i)     for i in list_1      ]

[1, 2, 3, 4, 5]

In [30]:
# 공백을 기준으로 국 영 수 과목의 점수를 입력해서 kor eng math 라는 변수에 넣고
# 모든 과목을 더하세요  kor+eng+math
data = input("국 영 수 점수를 공백을 기준으로 한줄에 입력하세요")   # "80 90 95"
kor,eng,math = [ int(i) for i in  data.split()]
kor+eng+math

국 영 수 점수를 공백을 기준으로 한줄에 입력하세요50 60 70

180

In [33]:
data = input("국 영 수 점수를 공백을 기준으로 한줄에 입력하세요")
kor,eng,math =  map(lambda x : int(x), data.split()  )
kor+eng+math

국 영 수 점수를 공백을 기준으로 한줄에 입력하세요50 60 70

180

map
  - 단일 리스트 뿐만 아니라 2개 이상의 시퀀스 자료(리스트나 튜플, 문자열처럼 집합형태)
  - 단일 집합이면 각 원소에 함수를 적용
  - 여러개면 각 집합의 1:1로 원소들을 함수를 적용

In [35]:
a = [1, 2, 3]
b = [4, 5, 6]
c = [7, 8, 9]
list(map(lambda x,y,z : x+y+z, a,b,c))

[12, 15, 18]

In [38]:
[ a+b+c for a,b,c in  list(zip(a,b,c)) ]

[12, 15, 18]

- 람다
  - 이름없는 함수로 주로 함수를 인수로 받는 함수에 적용
  - map, sorted, ..
- zip()
  - 시퀀스 자료형을 튜플로 각각 1:1로 묶는다
- map
  - 시퀀스 자료형에 함수를 적용한다

- 리스트 컴프리핸션
  - for문을 이용해서 간단한 작업을 리스트로 쉽게 변환