In [ ]:
str(12121212) + "abc"

'12121212abc'

In [ ]:
temp = "abcdefg"
print(temp[0])

a

In [ ]:
for i in temp:
  print(i)

a
b
c
d
e
f
g

In [ ]:
'b' in temp

True

In [ ]:
temp = 'abc def ghi jkl mno'
temp.split()  # 기본이 공백  split은 공백을 기준으로 분리해서 리스로 반환

['abc', 'def', 'ghi', 'jkl', 'mno']

In [ ]:
temp = 'abc,def,ghi,jkl,mno'
temp.split(",")

['abc', 'def', 'ghi', 'jkl', 'mno']

In [ ]:
temp = input("공백을 기준으로 숫자를 3개 입력하세요")
print(temp)

공백을 기준으로 숫자를 3개 입력하세요10 20 30
10 20 30

In [ ]:
temp = input("공백을 기준으로 숫자를 3개 입력하세요").split()
print(temp)

공백을 기준으로 숫자를 3개 입력하세요10 20 30
['10', '20', '30']

In [ ]:
temp = input("공백을 기준으로 숫자를 3개 입력하세요").split()
number_list = []
for i in temp:
  number_list.append(int(i))

print(number_list)

공백을 기준으로 숫자를 3개 입력하세요10 20 30
[10, 20, 30]

fotmatting
  - python 3.0 이후부터는 f-string을 사용

In [ ]:
price = 320000
dong = 1200
ho = 101

In [ ]:
f"이번달 {dong}동 {ho}호 관리비는 {price}입니다."

'이번달 1200동 101호 관리비는 320000입니다.'

In [ ]:
"1이번달 "+str(dong)+"동 "+str(ho)+"호 관리비는 "+str(price)+"입니다."

'1이번달 1200동 101호 관리비는 320000입니다.'

자료구조
  - 스택 과 큐
  - 튜플과 세트
  - 딕셔너리
  - collections모듈

In [ ]:
list("abc")

['a', 'b', 'c']

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in [0,1,2,3,4]:
  print(i)

0
1
2
3
4

In [ ]:
range(5)

range(0, 5)

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
import random
random_list = list(range(1,46))
random.shuffle( random_list)
random_list

[9,
 41,
 21,
 29,
 40,
 7,
 43,
 38,
 33,
 13,
 18,
 31,
 23,
 35,
 16,
 1,
 10,
 4,
 30,
 34,
 39,
 32,
 26,
 3,
 45,
 15,
 24,
 2,
 6,
 11,
 8,
 22,
 19,
 28,
 14,
 27,
 5,
 25,
 36,
 42,
 20,
 37,
 17,
 44,
 12]

In [ ]:
word = "PYTHON"
word_list = list(word)
print(word_list)
word_list[::-1]

['P', 'Y', 'T', 'H', 'O', 'N']

['N', 'O', 'H', 'T', 'Y', 'P']

In [ ]:
# 스택
result = []
for i in range(len(word_list)):
  result.append(word_list.pop())
print(result)

['N', 'O', 'H', 'T', 'Y', 'P']

In [ ]:
# ['N', 'O', 'H', 'T', 'Y', 'P'] 리스트에 있는 문자들을 합쳐서 하나의 문장으로만들면
"NOHTYP"
result[0] + result[1]

'NO'

In [ ]:
"".join(result)

'NOHTYP'

In [ ]:
",".join(result)

'N,O,H,T,Y,P'

In [ ]:
" ".join(result)

'N O H T Y P'

파이썬 큐

In [ ]:
a = [1, 2, 3, 4, 5]
a.append(10)
# 데이터를 맨 앞에 있는 값을 가져온다.
print(a.pop(0))  # 인덱스가 0인 즉 맨 앞의 데이터를 가져온다
print(a.pop(0))
print(a.pop(0))
print(a.pop(0))
print(a.pop(0))
print(a.pop(0))

스텍(stack)
  - first in - last out
  - 입력 : 리스트에 데이터추가는 맨 뒤에서 차례로  append() 이용
  - 출력 : 뒤에서부터 값을 리스트에서 제거하면서 값을 읽어온다
    - pop()

큐(Queue)
  - first in - first out
  - 입력 : 리스트에 데이터추가는 맨 뒤에서 차례로  append() 이용
  - 출력 : 앞에서부터 값을 리스트에서 제거하면서 값을 읽어온다
    - pop(0)

튜플
  - 리스트와 동일하게 자료를 집합형태로 관리
  - 튜플은 읽기 전용으로서 수정을 할 수 없고 나머지 기능은 리스트와 동일
  - 리스트 -> 튜플로 변경, 튜플 -> 리스트로 변경

In [ ]:
# 리스트
a = [1, 2, 3, 4]
print(a + [10, 20])  # [1,2,3,4,10,20]
print(a * 2)  #[1,2,3,4,1,2,3,4]
print(a[0])
a[0] = 10
print(a)

[1, 2, 3, 4, 10, 20]
[1, 2, 3, 4, 1, 2, 3, 4]
1
[10, 2, 3, 4]

In [ ]:
# 튜플
a = (1, 2, 3, 4)
print(a + (10, 20) )  # (1,2,3,4,10,20)
print(a * 2)  #([1,2,3,4,1,2,3,4)
print(a[0])
a[0] = 10  # 튜플은 값을 할당할수 없다. 즉 변경 불가능
print(a)

(1, 2, 3, 4, 10, 20)
(1, 2, 3, 4, 1, 2, 3, 4)
1

TypeError: ignored

In [ ]:
# 리스트 --> 튜플
print( list(range(5)) )
print( tuple(range(5))  )

list_1 = [10,20]
list_1 = tuple(list_1)
print(list_1)

[0, 1, 2, 3, 4]
(0, 1, 2, 3, 4)
(10, 20)

In [ ]:
# 튜플 --> 리스트
tuple_1 = (1,2,3)
tuple_1 = list(tuple_1)
print(tuple_1)

[1, 2, 3]

set
  - 중복을 허용하지 않는다

In [ ]:
list_1 = [ 1,2,3]*5
print(list_1)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
set_1 = set(list_1)
print(set_1)

{1, 2, 3}

In [ ]:
# 리스트 <--> 튜플 <--> 셋
# list()    tuple()   set()

In [ ]:
# 중복되지 않은 랜덤한 값 5개를 리스트로 저장
# 랜덤한 값을 생성해서 set형태의 자료구조에 넣는다.
# 그 자료구조의 길이가 5개가 될때까지 반복해서 랜덤한 값을 넣는다 (add 이용)
import random
set_random_6 = set()  # 비어 있는 기본 set형태의 변수

while len(set_random_6) <= 6:
  set_random_6.add(random.randint(1,46))

print(set_random_6)

{33, 39, 40, 15, 19, 25, 28}

In [ ]:
# 리스트 또는 튜플에서.. 중복을 제거할때
list_1 = [1,2,3,1,2,3]
tuple_1 = (1,2,3,1,2,3)

list_1 = list(set(list_1))
tuple_1 = tuple(set(tuple_1))

print(list_1)
print(tuple_1)

[1, 2, 3]
(1, 2, 3)

In [ ]:
list_a = [1,2,3,4,5,6,7]
list_b = [4,5,7,9,10,15]
# 교집합  &
print( set(list_a) & set(list_b) )
# 차집합
print( set(list_a) - set(list_b) )
# 합집합
print( set(list_a) | set(list_b) )   # 중복 허용 안함...

{4, 5, 7}
{1, 2, 3, 6}
{1, 2, 3, 4, 5, 6, 7, 9, 10, 15}

딕셔너리
  - {키:값, 키:값 }
  - keys() : 키 값만 리스트로 출력
  - values() : 값만 리스트로 출력
  - items() : (key,value)를 출력
  - 특정 데이터 읽기  변수[키값]
  - 데이터 변경하기 : 변수[키값] = 변경할 값
  - 데이터 추가하기 : 변경하기위 동일 단 리스트에 키가 없으면 추가한다

In [ ]:
# 딕셔너리 만드는 방법
dict_1 = {}
dict_1 = dict()

In [ ]:
# 추가
dict_1['영어'] = 100
# 출력
print(dict_1)

{'영어': 100}

In [ ]:
# 추가
dict_1['수학'] = 100
# 출력
print(dict_1)

{'영어': 100, '수학': 100}

In [ ]:
# 수정
dict_1['수학'] = 200
# 출력
print(dict_1)

{'영어': 100, '수학': 200}

In [ ]:
print(dict_1['수학'])
print(dict_1['과학'])  # 없는 키에 대한 값을 출력하려고 하면 오류

200

KeyError: ignored

In [ ]:
# 키가 있는지 판단
'과학' in dict_1.keys()

False

In [ ]:
#  키들만 출력
list(dict_1.keys())

['영어', '수학']

In [ ]:
# 값만 출력
list(dict_1.values())

[100, 200]

In [ ]:
# 키와 벨류를 같이 쌍으로 출력
dict_1.items()

dict_items([('영어', 100), ('수학', 200)])

In [ ]:
# 키와 벨류를 전부 각각 출력
# key: ooo  value: ooo
for key in dict_1.keys():
  print(f"key : {key}  value:{dict_1[key]}")

key : 영어  value:100
key : 수학  value:200

In [ ]:
for item in dict_1.items():  # [('영어', 100), ('수학', 200)]
  print(f"key : {item[0]}  value : {item[1]}" )

key : 영어  value : 100
key : 수학  value : 200

In [ ]:
key,value = ('영어', 100)
print(key)
print(value)

영어
100

In [ ]:
for key,value in dict_1.items():  # [('영어', 100), ('수학', 200)]
  print(f"key : {key}  value : {value}" )

key : 영어  value : 100
key : 수학  value : 200

In [ ]:
a = [1,2,3,2,3,1,1,1,5,4]
a.count(1)

4

In [ ]:
b = {}
for i in a:
  if i in b.keys():
    b[i] += 1
  else:
    b[i] = 1

print(b)

{1: 4, 2: 2, 3: 2, 5: 1, 4: 1}

In [ ]:
# 투표 시스템

In [1]:
# 1. 홍길동  2. 강감찬 3.이순신
# 유권자가 20명 으로 부터 표를 받아서 개표
# 홍길동 : 00, 강감찬 : 00, 이순신 : 00
# 딕셔너리 정렬 , 당선자 추출

In [9]:
candidate = ['홍길동', '강감찬', '이순신']
vote = {1:0, 2:0, 3:0}
for i in range(5):
  num = int(input('후보자에 투표를 하세요(1~3)'))
  vote[num] += 1

후보자에 투표를 하세요(1~3)1
후보자에 투표를 하세요(1~3)1
후보자에 투표를 하세요(1~3)1
후보자에 투표를 하세요(1~3)2
후보자에 투표를 하세요(1~3)2
후보자에 투표를 하세요(1~3)3
후보자에 투표를 하세요(1~3)3
후보자에 투표를 하세요(1~3)3
후보자에 투표를 하세요(1~3)3
후보자에 투표를 하세요(1~3)3

In [10]:
# vote변수를 출력해 보세요
print(vote)

{1: 3, 2: 2, 3: 5}

In [11]:
# 개표
for i in range(3):
  print(f"{candidate[i]}:{vote[i+1]}")

홍길동:3
강감찬:2
이순신:5

In [13]:
dic_1 = {}
dic_1[1] = 100
dic_1[2] = 100
print(dic_1)
dic_1[1] += 10
print(dic_1)

{1: 100, 2: 100}
{1: 110, 2: 100}

In [2]:
# 숫자 카운트

In [22]:
import random
random_list = []
for i in range(20):
  random_list.append( random.randint(1,30)  )

In [25]:
# 랜덤하게 생성된 번호들 중에서 각 번호들이 몇번 반복되었는지
# dictionary의 특징을 이용해서 계산
count_dic = {}
for i in random_list:
  if i not in count_dic.keys():
    count_dic[i] = 1
  else:
    count_dic[i] += 1

In [26]:
print(count_dic)

{6: 1, 5: 1, 1: 1, 29: 2, 24: 3, 14: 1, 2: 2, 25: 1, 21: 1, 22: 2, 3: 1, 12: 1, 19: 1, 7: 1, 27: 1}

In [32]:
def sortf(x):
  return x[1]
print(sorted(count_dic.items(), key = sortf))
print(sorted(count_dic.items(), key = sortf, reverse=True) )

[(6, 1), (5, 1), (1, 1), (14, 1), (25, 1), (21, 1), (3, 1), (12, 1), (19, 1), (7, 1), (27, 1), (29, 2), (2, 2), (22, 2), (24, 3)]
[(24, 3), (29, 2), (2, 2), (22, 2), (6, 1), (5, 1), (1, 1), (14, 1), (25, 1), (21, 1), (3, 1), (12, 1), (19, 1), (7, 1), (27, 1)]