In [3]:
print("Enter your name:")
somebody = input()
print("hi",somebody,"how are you today?")

Enter your name:
3.14
hi 3.14 how are you today?

In [5]:
type(somebody), somebody

(str, '3.14')

In [10]:
# 두개의 값을 받아서 4칙연산을 수행 + - * /
print("첫번째 정수를 입력하세요")
num1 = int( input() )
print("두번째 정수를 입력하세요")
num2 = int( input() )


# 두수를 더해서 출력하고  - print(  )
print( num1 + num2 )
# 두수를 빼서 출력하고
print( num1 - num2 )
# 두수를 곱해서 출력하고
print( num1 * num2 )
# 두수를 나눠서 출력하고
print( num1 / num2 )

첫번째 정수를 입력하세요
20
두번째 정수를 입력하세요
10
30
10
200
2.0

화씨 온도 변환기
  - 사용자로부터 섭씨온도를 받아서 화씨 온도로 변환
  - 화씨온도 = (섭씨온도 * 1.8 ) +32

In [12]:
temp1 = float(input("섭씨온도를 입력하세요:"))  # 실수로변경한후 변수에 담는다   float()
# 공식을 이용해서 화씨온도로 변환
temp2 = (temp1 * 1.8) + 32
# 출력을 한다
print("화씨온도는",temp2,"입니다.")

섭씨온도를 입력하세요:7
화씨온도는 44.6 입니다.

리스트
  - 한개의 이름으로 여러개의 데이터를 다루는 자료구조
  - 각각의 데이터는 인덱스라는 0번부터 시작하는 번호로 접근한다

In [13]:
colors = ['red','blue','green']
print(colors)

['red', 'blue', 'green']

In [14]:
print(colors[0]) # red
print(colors[1]) # blue
print(colors[2]) # green

red
blue
green

In [15]:
print(colors[3])

IndexError: ignored

In [ ]:
# 리스트의 마지막 인덱스는   리스트의 개수 - 1  why?? -> 0부터시작하니깐.

In [23]:
# 5명의 점수를 관리하는 scores 를 만들어 보자
scores = [80, 90, 70, 85, 95]
print("점수들의 합은:",sum(scores))
print("평균은 : ", sum(scores) / len(scores) )
print("최대값은 :",max(scores) )
print("최소값은 :",min(scores) )
print("오름차순으로 정렬하면 : ", sorted(scores))
print("내림차순으로 정렬하면 : ", sorted(scores,reverse=True))
print("원본은 변하지 않음  scores : ",scores)
# 원본을 정렬한 상태로 만들려면?  scores = sorted(scores)

점수들의 합은: 420
평균은 :  84.0
최대값은 : 95
최소값은 : 70
오름차순으로 정렬하면 :  [70, 80, 85, 90, 95]
내림차순으로 정렬하면 :  [95, 90, 85, 80, 70]
원본은 변하지 않음  scores :  [80, 90, 70, 85, 95]

In [26]:
# 다양한 리스트 만들기 : 리스트는 데이터의 집합이다.  그리고 인덱스로 각각의 데이터를 관리한다
city = ['서울','대전','대구','부산','광주','제주']
# 대구를 출력해 보세요.. print(  city[2]  )
print(  city[2]  )
# 마지막 값을 출력해 보세요
print( city[5]  )
print( city[ len(city)-1 ] )

대구
제주
제주

In [27]:
# 숫자들로 이루어진 리스트를 만들어 보세요
numbers = [1,2,3,4,5]
# 리스트의 첫번째 데이터부터 마지막까지 출력
print( numbers[0],numbers[1],numbers[2],numbers[3],numbers[4]   )

1 2 3 4 5

In [28]:
# 문자열로 이루어진 리스트를 만들어 보세요 과일목록
fruits = ['사과','바나나','파인애플','포도','딸기']
# 리스트의 첫번째 데이터부터 마지막까지 출력
print(fruits[0],fruits[1],fruits[2],fruits[3],fruits[4])

사과 바나나 파인애플 포도 딸기

In [29]:
# 숫자와 문자열로 이루어진 즉 다양한 데이터의 리스트를 만들어 보세요
# 리스트의 첫번째 데이터부터 마지막까지 출력
list1 = [10, 12.5 ,"test",True]
print(list1[0], list1[1], list1[2], list1[3])

10 12.5 test True

In [30]:
# input()을 이용해서 학생의 점수를 입력받는다. -- 총 5명
# 5명의 점수중에서 가장 높은 점수는?
# 1등과 2등의 점수는?
# 모든학생들의 평균점수는?

num1 =  int(input("점수를 입력하세요:"))
num2 =  int(input("점수를 입력하세요:"))
num3 =  int(input("점수를 입력하세요:"))
num4 =  int(input("점수를 입력하세요:"))
num5 =  int(input("점수를 입력하세요:"))
scores = [num1, num2, num3, num4, num5]
print("가장높은 점수는 : ", max(scores) )
# 내림차순으로 정렬해서 가장 앞에 있는 점수가 1등. 그 다음이 2등  [0], [1]
scores = sorted(scores,reverse=True)  # 내림차순
print("1등점수는:",scores[0],"2등점수는:",scores[1])
print("평균은:",sum(scores) / len(scores))

점수를 입력하세요:85
점수를 입력하세요:78
점수를 입력하세요:88
점수를 입력하세요:92
점수를 입력하세요:91
가장높은 점수는 :  92
1등점수는: 92 2등점수는: 91
평균은: 86.8

인덱스
  - 리스트의 각 순서  0번부터 시작한다.

In [32]:
list1 = [1,2,3,4,5]
print(list1[2])
list1[2] = 100
print(list1)

3
[1, 2, 100, 4, 5]

In [ ]:
# 리스트 만들고 특정 위치(인덱스)의 값을 읽고 변경

In [33]:
cities = ['서울','부산','인천','대구','대전','광주','울산','수원']
print(cities[0:6])
print(cities[:6])

['서울', '부산', '인천', '대구', '대전', '광주']
['서울', '부산', '인천', '대구', '대전', '광주']

In [35]:
print(cities[6:8])
print(cities[6:])

['울산', '수원']
['울산', '수원']

In [36]:
print(cities[:])

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [38]:
numbers = [1,2,3,4,5,10,20,30,40,50]
# 8:2로 분할
train = numbers[ : 8]
test = numbers[8 : ]
print(train)
print(test)

[1, 2, 3, 4, 5, 10, 20, 30]
[40, 50]

In [39]:
# 2:8로 분할하면
train = numbers[ : 2]
test = numbers[ 2 : ]
print(train)
print(test)

[1, 2]
[3, 4, 5, 10, 20, 30, 40, 50]

In [44]:
# cities 의 데이터를 7:3로 분할
splitnum =  int(len(cities)*0.7)
train = cities[ : splitnum]
test =  cities[splitnum : ]
print(train)
print(test)

['서울', '부산', '인천', '대구', '대전']
['광주', '울산', '수원']

In [46]:
# cities 리스트의 처음 데이터만 출력
print(cities [0] )
# cities 리스트의 처음 3개 데이터만 출력
print(cities[ : 3])

# cities 리스트의 마지막 데이터만 출력
print(cities [-1] )
# cities 리스트의 마지막 3개 데이터만 출력
print(cities [-3 : ] )

서울
['서울', '부산', '인천']
수원
['광주', '울산', '수원']

In [48]:
# 임의의 정수형 데이털 12개를 가지는 리스트 생성
list1 = [2,5,8,4,1,6,5,7,8,9,5,4]
# 앞에서 3개, 뒤에서 3개 출력
print(list1[ : 3])
print(list1[ -3 : ])
# 리스트를 6:4로 분할  전체 개수에서 60%에 해당하는 숫자를 구해서 슬라이싱
splitnum = int(len(list1)*0.6)
print( list1[ : splitnum] )
print( list1[splitnum : ] )

[2, 5, 8]
[9, 5, 4]
[2, 5, 8, 4, 1, 6, 5]
[7, 8, 9, 5, 4]