In [1]:
# 클래스
  # 변수
  # 함수

# 변수로만 이루어진 클래스

In [2]:
# 클래스 이름 : Student
# 이름(name) 나이(age) 학년(grade)  1 2 3 4
class Student():
  def __init__(self,name,age,grade) -> None:
    self.name = name
    self.age = age
    self.grade = grade

In [3]:
# 클래스는 객체를 통해 사용된다.
# 객체는 변수의 일종
a = 10
a = 10.5
a = True

# 참조형 변수
a = [1,2,3,4,5]
a = (1,2,3,4,5)
a = {'k':1,'b':2}

# 클래스형 변수 --> 객체
a = Student('홍길동',30,2)
print(a.name)

홍길동

In [5]:
# 과목 Subject
# 과목명(name), 학점(credit), 교수명(professor)

class Subject():
  def __init__(self,name,credit,professor) -> None:
    self.name = name
    self.credit = credit
    self.professor = professor

s = Student("홍길동",3,"교수님")
print(s.name)

홍길동

In [7]:
# 학급 클래스  ClassRoom
# 학년  class_number, 학생들 students, 과목들  subjects
class ClassRoom():
  def __init__(self,class_number,students,subjects) -> None:
    self.class_number = class_number
    self.students = students
    self.subjects = subjects

c1 = ClassRoom("1학년",['홍길동','홍순이','철이'],['수학','물리학','천문학'])
print(c1.students)

['홍길동', '홍순이', '철이']

In [8]:
# ClassRoom 객체를 만들때 students 는 student들의 리스트로 만들... subjects도 동일

In [9]:
c2 = ClassRoom('2학년',[ Student('홍길동1',22,2) , Student('홍길동2',21,2), Student('홍길동3',24,2) ]
               , [Subject('컴퓨터',3,'나교수'), Subject('선형대수학',3,'김교수')] )

In [13]:
for student in c2.students:
  print(student.name,student.age)

홍길동1 22
홍길동2 21
홍길동3 24

In [14]:
# 계산기 Calculator
# 사칙연산

In [17]:
# 함수만 으로 이루어진 클래스
# 문자열 조작 클래스  StringManipulator
 # 두개 문자열 합치기 concat
 # 한개 문자열 받아서 첫번째 글자만 대문자  capitalize
 # 알파벳에서 모음(aeiou)의 수를 세는 함수

class StringManipulator():
  def concatenate(self, str1, str2):
    return str1 + str2

  def capitalize(self, text):
    return text.capitalize()

  def count_vowels(self, text):   # 문자열중에 모음의 개수를 세는 함수
    vowels = 'aeiou'
    return sum([1 for char in text.lower() if char in vowels])

sm = StringManipulator()
str1 = "hello "
str2 = "word"
print(sm.concatenate(str1, str2))
print(sm.capitalize(str1), sm.capitalize(str2))
print(sm.count_vowels(str1), sm.count_vowels(str2))

hello word
Hello  Word
2 1

In [34]:
# 리스트 조작 클래스  ListManipulator
  # 수치형 리스트중에 가장 큰값 찾는 함수
  # 역순을 출력하는 함수
  # 리스트에서 중복을 제거하는 함수
class ListManipulator():
  def find_max(self, numbers):
    return max(numbers)

  def reverse(self,list_1):
    return list_1[::-1]
  def remove_duplicate(self, list_1):
    return list(set(list_1))
  def get_list(*args):
    return list(args)[1:]

In [36]:
lm = ListManipulator()
temp = lm.get_list(1,2,3,4,5,6,7,8,9)
lm.find_max(temp)

9

In [24]:
lm = ListManipulator()
import random
numbers = [random.randint(1,15) for i in range(10)]
print("orginal ", numbers)
print("max ", lm.find_max(numbers))
print("revers ", lm.reverse(numbers))
print('remove duplicate ', lm.remove_duplicate(numbers))

orginal  [4, 14, 1, 2, 3, 12, 1, 3, 5, 10]
max  14
revers  [10, 5, 3, 1, 12, 3, 2, 1, 14, 4]
remove duplicate  [1, 2, 3, 4, 5, 10, 12, 14]

상속
  - 기존클래스를 이용해서 확장된 새로운 클래스를 만드는것
  - 부모클래스, 수퍼클래스 ....
  - 클래스에서 this는 자신을 나타냄... 상속을 받으면 부모는 super 표현

In [57]:
class Person():
  def __init__(self,name) -> None:
    self.name = name
  def show(self):
    print("person 입니다.")

class Korean(Person):
  def __init__(self, name) -> None:
    super().__init__(name)

In [59]:
k = Korean("철수")

In [56]:
k.name

'사람이름'

In [75]:
from re import A
class Animal():
  def show_info(self):
    print("동물입니다.")

class Cat(Animal):
  def show_info(self):     # 오버라이드(override)  재정의, 덮어쓰다  over write라고 이해
    print('고양이 입니다.')

class Dog(Animal):
  pass

In [76]:
c1 = Cat()
c1.show_info()
d1 = Dog()
d1.show_info()

고양이 입니다.
동물입니다.

In [71]:
def show_info():
  print("동물입니다.")

In [74]:
show_info()

고양이 입니다.

In [73]:
def show_info():
  print('고양이 입니다.')

In [ ]:
# 강아지
  # 이름,나이,품종
  # 짖는다(멍멍), 먹는다, 잔다, 논다, 좋아하는 먹이(간식)
# 고양이
  # 이름, 나이, 품종
  # 운다(야옹야옹), 먹는다, 잔다, 논다,, 좋아하는 먹이(생선)
# 햄스터
  # 이름, 나이, 품종
  # 운다(찍찍) ,먹는다, 잔다, 논다 ,, 좋아하는 먹이(해바리기씨)