In [ ]:
professor = "이규영"

In [ ]:
print(professor)

이규영

In [ ]:
a = 7
b = 5
print(a + b)

12

In [ ]:
print("a + b")
print('a + b')

a + b
a + b

변수명
  - 직관적으로 알기쉽게 이름을 작성한다.
  - 예약어는 사용불가(사용가능하지만 의미가 변경된다.)
  - 숫자로 시작할 수 없다

In [ ]:
name = "이규영"
print(name)

이규영

In [ ]:
name = 3.1547
print(name)

3.1547

In [ ]:
# 숫자로 시작할 수 없다
# 7up = "사이다"

In [ ]:
print("프린트 명령어는 ()안에 있는 데이터를 출력하는 명령어 입니다.")

프린트 명령어는 ()안에 있는 데이터를 출력하는 명령어 입니다.

예약어(파이썬에서 의미를 부여한 단어)
  - 변수로 사용할수 없으나.. 실수로 사용할수는 있다.
  - 그러나. 그 기능은 없엊진다..

In [ ]:
# print = 100

기본자료형
  - 변수에 저장하는 데이터에 따라서 자료형이 결정되고 변수의 값이 바뀌면 자료형도 바뀐다

In [ ]:
a = 1
b = 1
print(a, b)

1 1

In [ ]:
a = 1.5
b = 3.5
print(a,b)

1.5 3.5

In [ ]:
a = "ABC"
b = "101010"
print(a,b)

ABC 101010

In [ ]:
a = True
b = False
print(a, b)

True False

사칙연산자 : + - * /
  - 피연산자가 좌우 2개씩

In [ ]:
print(25 + 30)
print(30 - 12)
print(50 * 3)
print(30 / 5)

55
18
150
6.0

제곱승 : ** 사용

In [ ]:
print(3 * 3 * 3 * 3 * 3)
print(3 ** 5)

243
243

몫과 나머지
  - //,   %

In [ ]:
print(7 // 2) # 몫
print(7 % 2) # 나머지

3
1

퀴즈
  - 랜덤한수 % 2 의 결과로 나올수 있는 수는?
  - 몫과 나머지계산을 할줄 알면 거스름돈 문제나 단위변환하는 프로그래밍을 할수 있다

복합대입연산자
  - +=, -=, *=, /=
  - a +=  10  
  - a = a + 10

In [ ]:
a = 1
a = a + 1
print(a)

2

In [ ]:
a += 1
print(a)

3

In [ ]:
a -= 1
print(a)

2

자료형변환
  - 서로 다른 타입의 변수의 자료형을 변환

In [ ]:
a = 10  # 정수형
print(10)

10

In [ ]:
a = float(10)   # 정수 10을 실수형으로 변환
print(a)

10.0

In [ ]:
a = int(10.7)
print(a)
a = int(10.3)
print(a)

10
10

In [ ]:
# 10.7 에서 실수 부분인 0.7만 추출
a = 10.7
print(a - int(a))

0.6999999999999993

문자열과 숫자의 변환
  - 숫자로 된 문자열은 숫자로 변경가능
  - 실수형문자 ->실수 float()
  - 정수형문자 - >정수 int()

In [ ]:
a = '76.3'
print(a)
b = float(a)
print(b)

76.3
76.3

In [ ]:
print(a + b)

TypeError: ignored

In [ ]:
print('76.3' + '76.3')

76.376.3

In [ ]:
a = '76'
b = int(a)
print(b)

76

숫자를 문자열로 변환
  - str()  함수를 이용

In [ ]:
a = 10
b = 20
print(a + b )

30

In [ ]:
a = str(a)  # 10을 "10"
b = str(b)  # 20을 "20"
print(a + b)

1020

변수안에있는 데이터가 무슨타입인?
  - type() 함수를 이용하면 타입을 알려준다

In [ ]:
a = 10
b = 10.2
c = "10.2"
print(a,b,c)

10 10.2 10.2

In [ ]:
print(type(a), type(b), type(c)  )

<class 'int'> <class 'float'> <class 'str'>

정리
  - 변수
  - 자료형
  - 변수 네이밍
    - 예약어는 변수로 사용하면 큰일
  - 연산자
  - 자료형 변환
    - 정수 <--> 실수
    - 문자열 <--> 숫자
  - 자료형 확인
    - type()