In [6]:
x = 11
print(x > 10)
if x > 10:
  print("x is greater than 10")

True
x is greater than 10

In [10]:
x = 10
if x > 10:
  print("x is greater than 10")
elif x < 10:
  print("x is less than 10")
else:
  print("x is equal to 10")

print('if문과 상관없는 문장입니다.')

x is equal to 10
if문과 상관없는 문장입니다.

In [16]:
# 점수를 입력받아서 60점 이상이면 success를 출력하고 그렇지 않으면 faile를 출력
jumsu = int( input("점수를 입력하세요: "))
if jumsu >= 60:
  print("success")
else:
  print("faile")

점수를 입력하세요: 20
faile

In [ ]:
# 진리표
# 논리곱
# 전부 true 가 되어야 true
print(True and True)  # True    1 x 1  = 1
print(True and False)  # False  1 x 0 = 0
print(False and True)  # False  0 x 1 = 0
print(False and False)  # False  0 x 0 = 0

# 논리합
# 하나이상 true가 되면 true
print(True or True)  # True 1 + 1  = 2
print(True or False)  # True 1 + 0 = 1
print(False or True)  # True   0 + 1 = 1
print(False or False)  # False 0 + 0 = 0

print(not True)  # False
print(not False)  # True

조건문은 조건에 따라서 명령어를 실행한다
  - if 조건식|값:
    - 실행할 코드

In [17]:
# ----------------

  - if 조건식|값:
    - 실행할 코드
  - else:
    - if 문장을 만족하지 않은 모든경우

In [18]:
# and 연산자
# 1.  국어 영어 수학점수를 입력받는다
# 2. 합격의 기준은 다음과 같다
# 3. 평균이 60점이상이고 각 과목별 점수가 40점 이상이면 합격 그렇지 않으면 불합격

In [19]:
# prompt: 위의 조건을 만족하는 코드

kor = int(input("국어 점수를 입력하세요: "))
eng = int(input("영어 점수를 입력하세요: "))
math = int(input("수학 점수를 입력하세요: "))
avg = (kor+eng+math) / 3
if avg >= 60 and kor >= 40 and eng >= 40 and math >= 40:
  print("합격")
else:
  print("불합격")

국어 점수를 입력하세요: 10
영어 점수를 입력하세요: 20
수학 점수를 입력하세요: 30
불합격

In [ ]:
# prompt: 위의 코드를 리스트를 사용해서 변경

점수 = [int( input("점수를 입력하세요: ")) for _ in range(3)]
avg = sum(점수) / 3
if avg >= 60 and min(점수) >= 40:
  print("합격")
else:
  print("불합격")

In [21]:
# 리스트를 이용해서 점수 3개의 변수를 한개의 리스트로 표현
scores = []
scores.append( int(input("국어 점수를 입력하세요: "))  )
scores.append( int(input("영어 점수를 입력하세요: "))  )
scores.append( int(input("수학 점수를 입력하세요: "))  )
avg = sum(scores) / len(scores)
if avg >=60 and scores[0] >=40 and scores[1] >=40 and scores[2] >=40:
  print("합격")
else:
  print("불합격")

국어 점수를 입력하세요: 10
영어 점수를 입력하세요: 20
수학 점수를 입력하세요: 30
불합격

In [22]:
# 조건문 연습
x = 10
if x > 5:
  print("x는 5보다 큽니다.")

x는 5보다 큽니다.

In [25]:
y = int( input("정수를 입력하세요 : ") )
if y % 2 == 0:
  print("y는 짝수 입니다.")
else:
  print("y는 홀수 입니다.")

정수를 입력하세요 : 145165432869162
y는 짝수 입니다.

In [26]:
age = int( input("나이를 입력하세요 : "))
if age >=18 and age <= 35:
  print("청년층 입니다.")

나이를 입력하세요 : 28
청년층 입니다.

In [27]:
fruit = ['사과','바나나','딸기']
favorite_fruit = '딸기'
if favorite_fruit in fruit:
  print("좋아하는 과일 목록에 포함되어 있습니다.")

좋아하는 과일 목록에 포함되어 있습니다.

In [29]:
id = 'admin'
psw = '1234'
if id == 'admin' and psw == '1234':
  print('로그인 성공')

로그인 성공

In [30]:
num = 27
if num > 0:
  if num % 3 == 0:
    print('3의 양의 배수')
  else:
    print('양수지만 3의 배수가 아님')
else:
  print('음수 또는 0')

3의 양의 배수

In [ ]:
# 율리우스력의 윤년 추가 규칙은 다음과 같다.
# 4로 나누어 떨어지는 해는 윤년, 그 밖의 해는 평년으로 한다.

# 그레고리력은 다음과 같은 예외 규칙을 추가하였다.
# 100으로 나누어 떨어지되 400으로 나누어 떨어지지 않는 해는 평년으로 한다.

# 가령 400으로 나누어 떨어지는 2000년은 그레고리력으로 윤년이지만, 100으로는 나누어 떨어지되 400으로는 나누어 떨어지지 않는 1900년은 평년이다.
# 물론 율리우스력으로는 1900년이든 2000년이든 모두 윤년이다.

In [39]:
#  년도를 입력받아서 해당 년도가 윤년인지 판단  그레고리력을 기준으로
year = 2023
# if year % 4 == 0 and not (year % 100 ==0 and year % 400 != 0) :
if year % 4 == 0 and not (year % 100 ==0 and year % 400 != 0) :
  print("윤년")
else:
  print("평년")

평년

In [40]:
#  bmi 공식
#  몸무게(kg) / 키(m)의제곱
#  25.0~  비만
#  23.0 ~ 24.9 과체중
#  18.5 ~ 22.9 정상
#  그외 저체중

In [48]:
# 키와 몸무게 입력받아서 bmi 계산하고 미반 또는 정상 여부 출력
height = float(input("키를 입력하세요(cm)"))
weight = float(input("몸무게를 입력하세요(kg)"))
bmi = weight /  ( (height*0.01)**2 )
print('bmi',round(bmi,2) )
if bmi >=25.0:
  print('비만')
elif bmi >= 23.0:
  print('과체중')
elif bmi >= 18.5:  # 18.5 ~ 22.9
  print('정상')
else:
  print('저체중')

키를 입력하세요(cm)180
몸무게를 입력하세요(kg)70
bmi 21.6
정상

In [51]:
# 키를 입력하면 bmi계산법에 의해서 정상이려면 몸무게의 범위
# y = 18.5 * ( (x*0.01)**2 )
# y = 22.9*( (x*0.01)**2 )
x = float(input("키를 입력하세요"))
start = 18.5 * ( (x*0.01)**2 )
end = 22.9*( (x*0.01)**2 )
print('bmi 기준 정상범위의 몸무게는',round(start,1),'~', round(end,1),'입니다')

키를 입력하세요180
bmi 기준 정상범위의 몸무게는 59.9 ~ 74.2 입니다

In [57]:
# 나이는 (2023 - 태어난 연도)로 계산
# 26세 이하 20세 이상이면 ‘대학생’
# 20세 미만 17세 이상이면 ‘고등학생’ ⦁
# 17세 미만 14세 이상이면 ‘중학생’ ⦁
# 14세 미만 8세 이상이면 ‘초등학생’
# 그 외의 경우는 ‘학생이 아닙니다.’ 출력

year = int(input("태어난 년도를 입력하세요:"))
year = 2023 - year
if year >=27:
  print('‘학생이 아닙니다')
elif year >= 20:   # 20 ~ 26
  print("대학생")
elif year >=17:   # 17 ~ 19
  print("고등학생")
elif year >=14:  # 14 ~ 16
  print("중학생")
elif year >=8:  # 8 ~ 13
  print("초등학생")
else:
  print('학생이 아닙니다.')

태어난 년도를 입력하세요:2003
대학생