파이썬 스타일 코드
  - split(), join(), 리스트 컴프리핸션, map(),zip(),reduce(), filter(), collection 모듈의 Count()

In [ ]:
files = [
    'c:/abc/test.csv',
    'd:/abc/test/temp.csv',
    'c:/program files/utils/model/sample.txt',
    'd:/temp/a/b/c/image.jpg'
]

In [ ]:
# files[0] 의 파일명을 추출해서 변수에 담기
# hint  split 을 이용
files[3].split('/')[-1]

'image.jpg'

In [ ]:
#  files 리트에 있는 모든 파일명과 확장자를 출력
for file in files:
  print(file.split('/')[-1])

test.csv
temp.csv
sample.txt
image.jpg

In [ ]:
# unpacking
a,b = [10,20]
a,b = (10,20)
print(a,b)

10 20

In [ ]:
dic_1 = {"국어":95,  "영어":98, "수학":88}
dic_1.items()

dict_items([('국어', 95), ('영어', 98), ('수학', 88)])

In [ ]:
for a,b in dic_1.items():
  print(a,b)

국어 95
영어 98
수학 88

In [ ]:
# 패킹  - 가변인수
def add(*args):
  return sum(args)

print( add(1,2  )  )

3

리스트 컴프리 핸션
  - for문에서 수행하는 명령어가(로직이)한개일때
  - 결과를 리스트로 만들어준다.
  - [  표현문  순환문]

In [ ]:
# 임의의 숫자 5개 만들기(리스트로)
import random
list_1 = []
for i in range(5):
  list_1.append( random.randint(1,10)   )

list_1

[1, 8, 2, 10, 10]

In [ ]:
[   random.randint(1,10)   for i in range(5)    ]

[4, 3, 8, 5, 9]

In [ ]:
[ i*5 for i in range(5)  ]

[0, 5, 10, 15, 20]

In [ ]:
[ i for i in range(10) if i > 5 ]

[6, 7, 8, 9]

In [ ]:
#조건 없는경우
[ i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# if문 하나만 사용하는 경우
[ i for i in range(10) if i%2 ==0 ]

[0, 2, 4, 6, 8]

In [ ]:
# if ~ else
[ i  if i%2 ==0 else None  for i in range(10)  ]

[0, None, 2, None, 4, None, 6, None, 8, None]

In [ ]:
[ i if i%2 == 0 else 100  for i in range(10)  ]

[0, 100, 2, 100, 4, 100, 6, 100, 8, 100]

In [ ]:
[ [i,i+3] for i in range(10) if i%2 ==0 ]

[[0, 3], [2, 5], [4, 7], [6, 9], [8, 11]]

In [ ]:
[ (i,i+5) for i in range(10) if i%2 ==0 ]

[(0, 5), (2, 7), (4, 9), (6, 11), (8, 13)]

In [ ]:
# 랜덤한 수 10개를 만들어주세요(데이터범위는 1~100 수 중에서)
import random
random.randint(1,100)

temp = [  random.randint(1,100)  for i in range(10) ]
temp

[65, 32, 62, 43, 7, 94, 80, 61, 19, 31]

In [ ]:
# 랜덤한 수 10개를 만들어주세요(데이터범위는 1~100 수 중에서)
# 만들어진 10개의 리스트에서 짝수만 리스트로 만들어주세요  if 문 사용
[ i for i in temp  if i%2==0]

[32, 62, 94, 80]

리스트 컴프리 핸션 연습

1.   0 부터 9까지의 숫자로 이루어진 리스트

In [ ]:
[ i  for i in range(10) ]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

2. 1부터 10까지의 제곱으로 이루어진 리스트

In [ ]:
[ i**2  for i in range(1,11) ]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

3. 짝수만 포함된 리스트 0 ~ 9

In [ ]:
[ i  for i in range(10) if i%2 == 0]

[0, 2, 4, 6, 8]

4. 문자열의 각 문자를 리스트로
  "hello"  -> ['h','e','l','l','o']

In [ ]:
word = "hello"
# list(word)
[i  for i in word ]

['h', 'e', 'l', 'l', 'o']

5. 리스트의 각 원소에 2를 곱한 결과
  - original_list = [1,2,3,4,5]

In [ ]:
original_list = [1,2,3,4,5]
[ i*2  for i in original_list]

[2, 4, 6, 8, 10]

6. 홀수인경우에는 제곱, 짝수인경우에는 그냥 반환하는 리스트
  - 1 ~ 10 까지(10포함)

In [ ]:
[ i**2 if i%2 !=0 else i for i in range(1,11) ]

[1, 2, 9, 4, 25, 6, 49, 8, 81, 10]

7. 문자열 리스트에서 길이가 5 이상인 문자열만 포함

In [ ]:
words = ["apple", "banana", "kiwi", "grape", "orange"]
[ i  for i in words if len(i)>=5 ]

['apple', 'banana', 'grape', 'orange']

8. 7번의 문자열 리스트중에서 문자 'p'가 포함된 문자열만

In [ ]:
[i for i in words  if 'p' in i]

['apple', 'grape', 'orange']

In [ ]:
# 9. 주어진 리스트의 각 원소에 1을 더한 결과
number = [1,2,3,4,5]
incremented_number =

In [ ]:
# 10 0부터 9까지의 숫자 중 짝수만 제곱한 리스트:
[ i**2 for i in range(10)  if i%2 == 0]

[0, 4, 16, 36, 64]

In [ ]:
# 11. 주어진 리스트에서 양수만 새로운 리스트에 포함:
original_numbers = [-3, 5, -8, 0, 7]
[i  for i in original_numbers if i > 0]

[5, 7]

In [ ]:
# 12 주어진 문자열 리스트에서 길이가 3인 문자열만 대문자로:
words = ["cat", "dog", "batman", "rat"]
[i.upper()  for i in words if len(i) == 3]

['CAT', 'DOG', 'RAT']

In [ ]:
# 13  1부터 100까지의 숫자 중 3으로 나누어 떨어지는 숫자만 포함:
[ i for i in range(1,101) if i%3 == 0]

In [ ]:
# 14 문자열의 각 단어의 길이를 나타내는 리스트:
sentence = "This is a sample sentence."
[ len(i)  for i in sentence.split()]

[4, 2, 1, 6, 9]

In [ ]:
# 15 딕셔너리의 키-값 쌍을 리스트로:
my_dict = {'a': 1, 'b': 2, 'c': 3}
[ i for i in my_dict.items() ]

[('a', 1), ('b', 2), ('c', 3)]

In [ ]:
# 16 1부터 100까지의 숫자 중 3과 5의 공배수인 숫자만 포함:
[i  for i in range(1,101) if i%3==0 and i%5 == 0 ]

[15, 30, 45, 60, 75, 90]

In [ ]:
# 17 주어진 문자열에서 모음을 제거한 문자열
#
vowels = "aeiou"  # 모음
original_string = "Hello, World!"
# ['H', 'l', 'l', ',', ' ', 'W', 'r', 'l', 'd', '!']
# 'Hll, Wrld!'   # join을 사용
print([ i for i in original_string  if i.lower() not in vowels])
print( ''.join([ i for i in original_string  if i.lower() not in vowels]) )

['H', 'l', 'l', ',', ' ', 'W', 'r', 'l', 'd', '!']
Hll, Wrld!

In [ ]:
list_1 = [10,5,7,3]
for index, i in enumerate( list_1):
  print(index)

0
1
2
3

In [28]:
candidate = ['홍길동', '강감찬', '이순신']
vote = {1:0, 2:0, 3:0}
# for i in range(5):
#   num = int(input('후보자에 투표를 하세요(1~3)'))
#   vote[num] += 1
vote = {1:3, 2:5, 3:2}

# 개표
for i, name in enumerate( candidate):
  print(f"{name}의 득표수는:{vote[i+1]}")

홍길동의 득표수는:3
강감찬의 득표수는:5
이순신의 득표수는:2

zip()
  - 두개의 리스트를 합친다.

In [30]:
a = [1,2,3]
b = ['일','이','삼']
zip(a,b) , range(10)

(<zip at 0x79cbede0b900>, range(0, 10))

In [31]:
for i in range(3):
  print(i)

0
1
2

In [33]:
for i in zip(a,b):
  print(i)

(1, '일')
(2, '이')
(3, '삼')

In [34]:
for i,j in zip(a,b):
  print(i, j)

1 일
2 이
3 삼

In [35]:
candidate = ['홍길동', '강감찬', '이순신']
vote = {1:3, 2:5, 3:2}
for name,count in  zip(candidate,vote.values()):
  print(f"{name}의 득표수 : {count}")

홍길동의 득표수 : 3
강감찬의 득표수 : 5
이순신의 득표수 : 2

딕셔너리 만들기
  - zip을 이용해서

In [36]:
dict( [ (1,10),(2,20),(3,30) ] )

{1: 10, 2: 20, 3: 30}

In [39]:
a = ['홍길동','강감찬','이순신','을지문덕']
b = [10,20,30,40]
dict(zip(a,b))

{'홍길동': 10, '강감찬': 20, '이순신': 30, '을지문덕': 40}

In [41]:
candidate = ['홍길동', '강감찬', '이순신']
vote = {1:3, 2:5, 3:2}
vote.values()
dict(zip(candidate, vote.values()))

{'홍길동': 3, '강감찬': 5, '이순신': 2}