파이썬 스타일 코드
  - split(), join(), 리스트 컴프리핸션, map(),zip(),reduce(), filter(), collection 모듈의 Count()

In [1]:
files = [
    'c:/abc/test.csv',
    'd:/abc/test/temp.csv',
    'c:/program files/utils/model/sample.txt',
    'd:/temp/a/b/c/image.jpg'
]

In [11]:
# files[0] 의 파일명을 추출해서 변수에 담기
# hint  split 을 이용
files[3].split('/')[-1]

'image.jpg'

In [15]:
#  files 리트에 있는 모든 파일명과 확장자를 출력
for file in files:
  print(file.split('/')[-1])

test.csv
temp.csv
sample.txt
image.jpg

In [17]:
# unpacking
a,b = [10,20]
a,b = (10,20)
print(a,b)

10 20

In [18]:
dic_1 = {"국어":95,  "영어":98, "수학":88}
dic_1.items()

dict_items([('국어', 95), ('영어', 98), ('수학', 88)])

In [20]:
for a,b in dic_1.items():
  print(a,b)

국어 95
영어 98
수학 88

In [23]:
# 패킹  - 가변인수
def add(*args):
  return sum(args)

print( add(1,2  )  )

3

리스트 컴프리 핸션
  - for문에서 수행하는 명령어가(로직이)한개일때
  - 결과를 리스트로 만들어준다.
  - [  표현문  순환문]

In [29]:
# 임의의 숫자 5개 만들기(리스트로)
import random
list_1 = []
for i in range(5):
  list_1.append( random.randint(1,10)   )

list_1

[1, 8, 2, 10, 10]

In [30]:
[   random.randint(1,10)   for i in range(5)    ]

[4, 3, 8, 5, 9]

In [32]:
[ i*5 for i in range(5)  ]

[0, 5, 10, 15, 20]

In [34]:
[ i for i in range(10) if i > 5 ]

[6, 7, 8, 9]

In [38]:
#조건 없는경우
[ i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
# if문 하나만 사용하는 경우
[ i for i in range(10) if i%2 ==0 ]

[0, 2, 4, 6, 8]

In [41]:
# if ~ else
[ i  if i%2 ==0 else None  for i in range(10)  ]

[0, None, 2, None, 4, None, 6, None, 8, None]

In [37]:
[ i if i%2 == 0 else 100  for i in range(10)  ]

[0, 100, 2, 100, 4, 100, 6, 100, 8, 100]

In [46]:
[ [i,i+3] for i in range(10) if i%2 ==0 ]

[[0, 3], [2, 5], [4, 7], [6, 9], [8, 11]]

In [45]:
[ (i,i+5) for i in range(10) if i%2 ==0 ]

[(0, 5), (2, 7), (4, 9), (6, 11), (8, 13)]

In [51]:
# 랜덤한 수 10개를 만들어주세요(데이터범위는 1~100 수 중에서)
import random
random.randint(1,100)

temp = [  random.randint(1,100)  for i in range(10) ]
temp

[65, 32, 62, 43, 7, 94, 80, 61, 19, 31]

In [53]:
# 랜덤한 수 10개를 만들어주세요(데이터범위는 1~100 수 중에서)
# 만들어진 10개의 리스트에서 짝수만 리스트로 만들어주세요  if 문 사용
[ i for i in temp  if i%2==0]

[32, 62, 94, 80]

리스트 컴프리 핸션 연습

1.   0 부터 9까지의 숫자로 이루어진 리스트

In [57]:
[ i  for i in range(10) ]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

2. 1부터 10까지의 제곱으로 이루어진 리스트

In [59]:
[ i**2  for i in range(1,11) ]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

3. 짝수만 포함된 리스트 0 ~ 9

In [60]:
[ i  for i in range(10) if i%2 == 0]

[0, 2, 4, 6, 8]

4. 문자열의 각 문자를 리스트로
  "hello"  -> ['h','e','l','l','o']

In [62]:
word = "hello"
# list(word)
[i  for i in word ]

['h', 'e', 'l', 'l', 'o']

5. 리스트의 각 원소에 2를 곱한 결과
  - original_list = [1,2,3,4,5]

In [63]:
original_list = [1,2,3,4,5]
[ i*2  for i in original_list]

[2, 4, 6, 8, 10]

6. 홀수인경우에는 제곱, 짝수인경우에는 그냥 반환하는 리스트
  - 1 ~ 10 까지(10포함)

In [65]:
[ i**2 if i%2 !=0 else i for i in range(1,11) ]

[1, 2, 9, 4, 25, 6, 49, 8, 81, 10]

7. 문자열 리스트에서 길이가 5 이상인 문자열만 포함

In [67]:
words = ["apple", "banana", "kiwi", "grape", "orange"]
[ i  for i in words if len(i)>=5 ]

['apple', 'banana', 'grape', 'orange']

8. 7번의 문자열 리스트중에서 문자 'p'가 포함된 문자열만

In [69]:
[i for i in words  if 'p' in i]

['apple', 'grape', 'orange']

In [ ]:
#1.  0 부터 9까지의 숫자로 이루어진 리스트
#2.  0 부터 9까지의 숫자로 이루어진 리스트